// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background) {
  $active-background: darken($background, 10%);

  color: $color;
  background-color: $background;

  &:hover {
    color: $color;
    background-color: $active-background;
  }

  &:focus {
    color: $color;
    background-color: $active-background;
  }

  &.active {
    color: $color;
    background-color: $active-background;

    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 17%);
    }
  }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &:hover {
    color: $color-hover;
    background-color: $color;
        border-color: $color;
  }

  &:focus {
    color: $color-hover;
    background-color: $color;
        border-color: $color;
  }

  &.active{
    color: $color-hover;
    background-color: $color;
        border-color: $color;

    &:hover,
    &:focus{
      color: $color-hover;
      background-color: darken($color, 17%);
          border-color: darken($color, 25%);
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}
