<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">Нормативные документы</a></li>
        <li class="breadcrumb-item active" aria-current="page">1.13.465-2.067.18 ГОСТ Грунты. Методы полевых испытаний сваями</li>
    </ol>
</nav>