<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                О нас
                            </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Реклама на сайте
                            </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Партнеры
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Подписка
                            </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Контакты
                            </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Частые вопросы
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-menu">
                    <ul class="footer-menu__items">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Обратная связь
                            </a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">
                                Правила портала
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="hr-bottom"></div>
            </div>
        </div>
        <div class="row flex-sm-row flex-column-reverse">
            <div class="col-sm-9 col-12">
                <div class="copy">
                    2018 © ООО "Геомаркетинг". Все права защищены.
                </div>
            </div>
            <div class="col-sm-3 col-12 d-flex justify-content-sm-end mb-3 mb-sm-0">
                <a href="#" class="footer-soc">
                    <img src="images/facebook.png" alt="">
                </a>
                <a href="#" class="footer-soc">
                    <img src="images/vk.png" alt="">
                </a>
                <a href="#" class="footer-soc">
                    <img src="images/inst.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="menu-left__container">
    <nav class="menu-left">
        <ul class="menu-left__items">
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 2
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 4
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 5
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 6
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 7
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 2
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 4
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 5
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 6
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 7
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 2
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 4
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 5
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 6
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 7
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 2
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 4
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 5
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 6
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 7
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 2
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 4
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 5
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 6
                </a>
            </li>
            <li class="menu-left__item">
                <a href="#" class="menu-left__link">
                    Пункт 7
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="blackout"></div>
<div class="modal fade" id="entry" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Войти как пользователь</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Войти через социальную сеть:</div>
                <div class="modal-body__soc">
                    <a href="#" class="modal-body__soc-item">
                        <img src="images/modal-soc-1.png" alt="">
                    </a>
                    <a href="#" class="modal-body__soc-item">
                        <img src="images/modal-soc-2.png" alt="">
                    </a>
                    <a href="#" class="modal-body__soc-item">
                        <img src="images/modal-soc-3.png" alt="">
                    </a>
                </div>
                <form action="#">
                    <input type="text" placeholder="Адрес электронной почты">
                    <input type="text" placeholder="Пароль">
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            <div class="consent">
                                <div class="consent-checked">
                                    <input id="system" type="checkbox">
                                    <span></span>
                                </div>
                                <label for="system" class="consent-text">Оставаться в системе </label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mt-md-0">
                            <input type="submit" class="btn btn-bg_blue" value="Вход">
                        </div>
                    </div>
                </form>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <a href="#">Забыли пароль?</a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-md-end mt-1 mt-md-0">
                        <a href="#" data-toggle="modal" data-target="#registration" data-dismiss="modal"
                           aria-label="Close">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Регистрация</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="#" data-toggle="modal" data-target="#entry" data-dismiss="modal" aria-label="Close">Войти</a>
                <div>Войти через социальную сеть:</div>
                <form action="#">
                    <div class="form-item form-item__error">
                        <input type="text" placeholder="Адрес электронной почты">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Пароль">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Подтвердите пароль">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Имя">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Фамилия">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Отчество">
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-5 mt-4">
                            Дата рождения
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="mt-2 mt-md-4">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            Пол
                        </div>
                        <div class="col-md-6 d-flex justify-content-md-end justify-content-start">
                            <div class="gander-container">
                                <div class="form-item__radio">
                                    <input type="radio" id="item-11" name="gander">
                                    <span class="form-gander">M</span>
                                </div>
                                <div class="form-item__radio">
                                    <input type="radio" id="item-12" name="gander">
                                    <span class="form-gander">Ж</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            <div class="consent">
                                <div class="consent-checked">
                                    <input id="agree" type="checkbox">
                                    <span></span>
                                </div>
                                <label for="agree" class="consent-text">Согласен с условиями </label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mt-md-0">
                            <input type="submit" class="btn btn-bg_blue" value="Регистрация">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade subscription-modal" id="subscribe2" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Для оформления подписки, пожалуйста, заполните форму:</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border-line"></div>
                <form action="#">
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="fio">Контактное лицо: Ф.И.О.</label>
                                <input type="text" id="fio">
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="position">Должность</label>
                                <input type="text" id="position">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="modl-email">Email</label>
                                <input type="text" id="modl-email">
                            </div>
                        </div>
                        <div class="col-md-6  mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="modl-phone">Телефон</label>
                                <input type="text" id="modl-phone" class="phone">
                            </div>
                        </div>
                    </div>
                    <div class="border-line"></div>
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <div class="form-item">
                                <label for="code-city">Код города</label>
                                <input type="text" id="code-city" class="phone">
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="form-item">
                                <label for="inn">ИНН</label>
                                <input type="text" id="inn">
                            </div>
                        </div>
                        <div class="col-md-3 col-6  mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="kpp">КПП</label>
                                <input type="text" id="kpp" class="phone">
                            </div>
                        </div>
                        <div class="col-md-3 col-6  mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="bik">БИК</label>
                                <input type="text" id="bik" class="phone">
                            </div>
                        </div>
                    </div>
                    <div class="border-line"></div>
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="kor-score">Кор. счет</label>
                                <input type="text" id="kor-score">
                            </div>
                        </div>
                        <div class="col-md-6  mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="ras-score">Расчетный счет</label>
                                <input type="text" id="ras-score">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="bank">Название банка</label>
                                <input type="text" id="bank">
                            </div>
                        </div>
                        <div class="col-md-6  mt-3 mt-md-0">
                            <div class="form-item">
                                <label for="poh-add">Почтовый адрес (организации)</label>
                                <input type="text" id="poh-add">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="yr-add">Юридический адрес (организации)</label>
                                <input type="text" id="yr-add">
                            </div>
                        </div>
                    </div>
                    <div class="div mt-4 d-flex justify-content-center">
                        <div class="col-md-5 d-flex">
                            <a href="#" class="nazad-container" data-toggle="modal" data-target="#subscribe" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <input type="submit" class="btn btn-bg_blue" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade subscription-modal" id="subscribe" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Для оформления подписки, пожалуйста, заполните форму:</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border-line"></div>
                <form action="#">
                    <div class="row align-items-center mt-4">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="name_company">Название компании</label>
                                <input type="text" id="name_company">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-item">
                                <label for="complekt">Количество комплектов</label>
                                <input type="text" id="complekt">
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        Выберите издания, на которые вы хотели бы оформить подписку
                    </div>
                    <div class="checked-flex">
                        <div class="consent">
                            <div class="consent-checked">
                                <input id="kit-1" type="checkbox">
                                <span></span>
                            </div>
                            <label for="kit-1" class="consent-text">Весь комплект</label>
                        </div>
                        <div class="consent">
                            <div class="consent-checked">
                                <input id="kit-2" type="checkbox">
                                <span></span>
                            </div>
                            <label for="kit-2" class="consent-text">«Инженерная Геология»</label>
                        </div>
                        <div class="consent">
                            <div class="consent-checked">
                                <input id="kit-3" type="checkbox">
                                <span></span>
                            </div>
                            <label for="kit-3" class="consent-text">«Инженерные Изыскания»</label>
                        </div>
                        <div class="consent consent-none"></div>
                        <div class="consent">
                            <div class="consent-checked">
                                <input id="kit-4" type="checkbox">
                                <span></span>
                            </div>
                            <label for="kit-4" class="consent-text">«ГеоРиск»</label>
                        </div>
                        <div class="consent">
                            <div class="consent-checked">
                                <input id="kit-5" type="checkbox">
                                <span></span>
                            </div>
                            <label for="kit-5" class="consent-text">ГеоТехника</label>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 d-flex flex-column justify-content-between">
                            <div>Выберите издания, на которые вы хотели бы оформить подписку</div>
                            <div class="radio-container">
                                <div class="form-item__radio-container">
                                    <div class="form-item__radio">
                                        <input type="radio" id="item-15" name="poll">
                                        <span class="form-circle"></span>
                                    </div>
                                    <label for="item-15">6 месяцев </label>
                                </div>
                                <div class="form-item__radio-container">
                                    <div class="form-item__radio">
                                        <input type="radio" id="item-16" name="poll">
                                        <span class="form-circle"></span>
                                    </div>
                                    <label for="item-16">12 месяцев</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-between">
                            <div>Формат подписки</div>
                            <div class="radio-container">
                                <div class="form-item__radio-container">
                                    <div class="form-item__radio">
                                        <input type="radio" id="item-18" name="poll">
                                        <span class="form-circle"></span>
                                    </div>
                                    <label for="item-18">бумажная </label>
                                </div>
                                <div class="form-item__radio-container">
                                    <div class="form-item__radio">
                                        <input type="radio" id="item-19" name="poll">
                                        <span class="form-circle"></span>
                                    </div>
                                    <label for="item-19">электронная</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div mt-4 d-flex justify-content-center">
                        <a href="#" class="btn btn-bg_blue" data-toggle="modal" data-target="#subscribe2"
                           data-dismiss="modal" aria-label="Close">
                            Продолжить
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>