<header>
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <div class="header-soc__items">
                        <a href="#" class="header-soc__link">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="header-soc__link">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="header-soc__link">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <div class="entry-container">
                        <a href="#" class="entry-link" data-toggle="modal" data-target="#entry">
                            Вход
                        </a>
                        <span class="entry-delimiter">
                        /
                        </span>
                        <a href="#" class="entry-link" data-toggle="modal" data-target="#registration">
                            Регистрация
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-center">
        <div class="container">
            <div class="row justify-content-between flex-column flex-sm-row">
                <div class="col-md-5 d-flex align-items-center">
                    <a href="#" class="header-logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="header-partner">
                        <div class="header-partner__title">Генеральные партнеры</div>
                        <div class="header-partner__items">
                            <a href="#" class="header-partner__item">
                                <img src="images/header-partner-1.png" alt="">
                            </a>
                            <a href="#" class="header-partner__item">
                                <img src="images/header-partner-2.png" alt="">
                            </a>
                            <a href="#" class="header-partner__item">
                                <img src="images/header-partner-3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 d-flex justify-content-between">
                    <div class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <nav class="header-menu">
                        <ul class="header-menu__items">
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Новости
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Мнения</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Аналитика</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Статьи</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Технические решения</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Нормативные документы</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="search-container">
                        <div class="search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <form action="#" class="search-form">
                            <input type="text" class="search-form__input">
                            <div class="search-form__submit">
                                <input type="submit" class="search-form__submit-input">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>