<div class="magazine-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="images/magazine.jpg" alt="">
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between pl-2">
                        <div>
                            <div class="h3">Журнал «Геотехника»</div>
                            <p>Оформить подписку на журнал «Геотехника»</p>
                        </div>
                        <a href="#" class="subscribe" data-toggle="modal" data-target="#subscribe">
                            Подписаться >
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="images/magazine-2.jpg" alt="">
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between pl-2">
                        <div>
                            <div class="h3">Журнал «Геориск»</div>
                            <p>Оформить подписку на журнал «Геотехника»</p>
                        </div>
                        <a href="#" class="subscribe"  data-toggle="modal" data-target="#subscribe">
                            Подписаться >
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="images/magazine-3.jpg" alt="">
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between pl-2">
                        <div>
                            <div class="h3">Журнал «Инженерная геология»</div>
                            <p>Оформить подписку на журнал «Геотехника»</p>
                        </div>
                        <a href="#" class="subscribe" data-toggle="modal" data-target="#subscribe">
                            Подписаться >
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="images/magazine-4.jpg" alt="">
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between pl-2">
                        <div>
                            <div class="h3">Журнал «Инженерные изыскания»</div>
                            <p>Оформить подписку на журнал «Геотехника»</p>
                        </div>
                        <a href="#" class="subscribe" data-toggle="modal" data-target="#subscribe">
                            Подписаться >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>