<div class="partner">
    <div class="partner__items">
        <div class="partner-item">
            <img src="images/partner-1.png" alt="">
        </div>
        <div class="partner-item">
            <img src="images/partner-1.png" alt="">
        </div>
        <div class="partner-item">
            <img src="images/partner-1.png" alt="">
        </div>
    </div>
</div>