<div class="sidebar">
    <div class="sidebar-banner">
        <a href="#">
            <img src="images/sidebar-1.jpg" alt="">
        </a>
    </div>
    <div class="sidebar-magazine">
        <div class="sidebar-magazine__title">
            Журналы
        </div>
        <div class="sidebar-magazine__items">
            <a href="#" class="sidebar-magazine__link">
                <img src="images/magazine.jpg" alt="">
            </a>
            <a href="#" class="sidebar-magazine__link">
                <img src="images/magazine-2.jpg" alt="">
            </a>
            <a href="#" class="sidebar-magazine__link">
                <img src="images/magazine-3.jpg" alt="">
            </a>
            <a href="#" class="sidebar-magazine__link">
                <img src="images/magazine-4.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="title">
        <div class="h1">
            Календарь мероприятий
        </div>
    </div>
    <div class="calendar-container">
        <form action="#">
            <table id="wp-calendar">
                <caption>Ноябрь</caption>
                <thead>
                <tr>
                    <th scope="col" title="Понедельник">П</th>
                    <th scope="col" title="Вторник">В</th>
                    <th scope="col" title="Среда">С</th>
                    <th scope="col" title="Четверг">Ч</th>
                    <th scope="col" title="Пятница">П</th>
                    <th scope="col" title="Суббота">С</th>
                    <th scope="col" title="Воскресенье">В</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td>
                </tr>
                <tr>
                    <td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td>
                </tr>
                <tr>
                    <td>12</td><td><a href="http://almaz-t.ru/2018/11/13/" aria-label="Записи, опубликованные 13.11.2018">13</a></td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td>
                </tr>
                <tr>
                    <td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td id="today">25</td>
                </tr>
                <tr>
                    <td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
                    <td class="pad" colspan="2">&nbsp;</td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="3" id="prev" class="pad">&nbsp;</td>
                    <td class="pad">&nbsp;</td>
                    <td colspan="3" id="next" class="pad">&nbsp;</td>
                </tr>
                </tfoot>
            </table>
            <div class="calendar-container__p">
                <div class="d-flex justify-content-end">
                    <a href="#" class="super-search">
                        Расширенный поиск
                    </a>
                </div>
                <div class="calendar-title">
                    Дата:
                </div>
                <div class="calendar-flex__day">
                    <div class="calendar-flex__day-element mt-1 mb-3">
                        От:
                        <select>
                            <option value="1">10.10.12</option>
                            <option value="2">10.10.12</option>
                            <option value="3">10.10.12</option>
                        </select>
                    </div>
                    <div class="calendar-flex__day-element mt-1 mb-3">
                        До:
                        <select>
                            <option value="1">10.10.12</option>
                            <option value="2">10.10.12</option>
                            <option value="3">10.10.12</option>
                        </select>
                    </div>
                </div>
                <div class="calendar-flex__day-element">
                    Страна:
                    <select>
                        <option value="1">Россия</option>
                        <option value="2">Египет</option>
                        <option value="3">Турция</option>
                    </select>
                </div>
                <div class="calendar-title mt-2">
                    Ключевые слова:
                </div>
                <div class="calendar-flex__day-element mt-1">
                    <select>
                        <option value="1">Хорошо</option>
                        <option value="2">Очень хорошо</option>
                        <option value="3">Пойдет</option>
                    </select>
                </div>
                <div class="calendar-flex__day-element mt-3">
                    Искать:
                    <select>
                        <option value="1">Везде</option>
                        <option value="2">Всюду</option>
                        <option value="3">там и сям</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-blue mt-4" value="Поиск">
            </div>


        </form>

    </div>
    <div class="sidebar-documentation">
        <div class="sidebar-title">Изменения в нормативной документации</div>
        <div class="sidebar-documentation__item">
            <div class="sidebar-documentation__pic">
                <img src="images/documentation.png" alt="">
            </div>
            <div class="sidebar-documentation-content">
                <div class="sidebar-documentation__description">Внесены изменения в Постановление Правительства
                    Российской Федерации «О порядке организации и проведения государственной экспертизы проектной
                    документации и результатов инженерных изысканий»
                </div>
                <div class="sidebar-documentation__date">от 5 марта 2007 №145</div>
            </div>
        </div>
        <div class="sidebar-documentation__item">
            <div class="sidebar-documentation__pic">
                <img src="images/documentation.png" alt="">
            </div>
            <div class="sidebar-documentation-content">
                <div class="sidebar-documentation__description">Внесены изменения в Постановление Правительства
                    Российской Федерации «О порядке организации и проведения государственной экспертизы проектной
                    документации и результатов инженерных изысканий»
                </div>
                <div class="sidebar-documentation__date">от 5 марта 2007 №145</div>
            </div>
        </div>
    </div>
    <div class="sidebar-banner">
        <a href="#">
            <img src="images/sidebar-2.jpg" alt="">
        </a>
    </div>
    <div class="title">
        <div class="h1">
            Опрос дня
        </div>
    </div>
    <div class="sidebar-poll">
        <img src="images/poll.jpg" alt="">
    </div>
    <div class="sidebar-banner">
        <a href="#">
            <img src="images/sidebar-3.jpg" alt="">
        </a>
    </div>
    <div class="title">
        <div class="h1">
            Техника безопасности
        </div>
    </div>
    <div class="sidebar-security">
        <div class="sidebar-security__items">
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="sidebar-security__item">
                <img src="images/sidebar-video.jpg" alt="">
            </a>
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="sidebar-security__item">
                <img src="images/sidebar-video.jpg" alt="">
            </a>
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="sidebar-security__item">
                <img src="images/sidebar-video.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="title">
        <div class="h1">
            Наши партрены
        </div>
    </div>
    @@include('partner.html')
</div>