<div class="container_bg">
    <div class="row mb-3">
        <div class="col-md-4">
            <a href="#">
                <img src="images/news-8.jpg" alt="">
            </a>
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-between">
            <div>
                <a href="#" class="black-link">
                    <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                        в Севастополе</h3>
                </a>
                <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                    пришли к выводу, что результаты инженерных ...</p>
            </div>
            <div class="tags-items">
                <a href="#" class="tags-item">Кузбасс</a>
                <a href="#" class="tags-item">каменный уголь</a>
                <a href="#" class="tags-item">разрез «Тагарышский»</a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <a href="#">
                <img src="images/news-8.jpg" alt="">
            </a>
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-between">
            <div>
                <a href="#" class="black-link">
                <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                </a>
                <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                    к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                    требованиям технических регламентов и иным ...</p>
            </div>
            <div class="tags-items">
                <a href="#" class="tags-item">Кузбасс</a>
                <a href="#" class="tags-item">каменный уголь</a>
                <a href="#" class="tags-item">разрез «Тагарышский»</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="images/news-8.jpg" alt="">
            </a>
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-between">
            <div>
                <a href="#" class="black-link">
                <h3>Строительство метро в воронеже может начаться в течение трех лет</h3>
                </a>
                <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет,
                    сообщил в пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые
                    — три ближайшие года в этом вопросе, и мы начали предпроектную ...</p>
            </div>
            <div class="tags-items">
                <a href="#" class="tags-item">Кузбасс</a>
                <a href="#" class="tags-item">каменный уголь</a>
                <a href="#" class="tags-item">разрез «Тагарышский»</a>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 d-flex justify-content-end">
            <a href="#" class="btn btn-blue">
                Все новости
            </a>
        </div>
    </div>
</div>