<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    О нас
                </h1>
            </div>
            <div class="container_bg">
                <a href="#" download class="download">
                    <img src="images/pdf-file.png" alt="">
                    <span>ПРЕЗЕНТАЦИЯ ИЗДАТЕЛЬСКОГО ЦЕНТРА.PDF (8 МБАЙТ)</span>
                </a>
                <div class="border-line"></div>
                <p>
                    В настоящее время ООО «Геомаркетинг» выпускает основные журналы в области инженерных изысканий для
                    строительства. Это «Инженерные изыскания», «Инженерная геология», «ГеоРиск», «Геотехника». Все
                    четыре журнала включены в Перечень ведущих рецензируемых научных журналов и изданий, в которых
                    должны быть опубликованы основные научные результаты диссертаций на соискание ученых степеней
                    доктора и кандидата наук, что, несомненно, свидетельствует о высоком качестве изданий и их
                    востребованности в отрасли.
                    <br><br>
                    Журналы распространяются по подписке (около 800 подписчиков на журналы «Инженерные изыскания» и
                    «Инженерная геология» и 400 подписчиков на журнал «ГеоРиск» и «Геотехника»), а также на основных
                    отраслевых конференциях и выставках.
                    <br><br>
                    Тираж журналов – от 1500 до 3000 экземпляров.
                    <br><br>
                    В журналах публикуются научно-технические, практические, аналитические и обзорные статьи по широкому
                    кругу проблем, с которыми сталкиваются изыскатели в своей работе.
                    <br><br>
                    Периодичность журнала «Инженерные изыскания» — 12 номеров в год; журнала «Инженерная геология» — 6
                    номеров в год, «ГеоРиск» — один раз в квартал.
                    <br><br>
                    С декабря 2009 года выпускается журнал – «Геотехника», периодичностью 6 номеров в год. Новое издание
                    ориентировано не только на изыскателей, но и на проектировщиков и строителей и создано с целью
                    знакомства российских специалистов с передовым отечественным и зарубежным опытом в области
                    геотехнического проектирования. Главный редактор журнала – профессор кафедры инженерной и
                    экологической геологии геологического факультета МГУ им. М.В. Ломоносова, доктор
                    геолого-минералогических наук Евгений Арнольдович Вознесенский.
                    <br><br>
                    С 2013 года ООО «Геомаркетинг» проводит отраслевые практические конференции, посвященные различным
                    узким проблемам выполнения инженерных изысканий для строительства.
                    <br><br>
                    Приглашаем все заинтересованные компании к рекламному и информационному сотрудничеству с журналами.
                    Все научно-технические статьи публикуются бесплатно после получения положительного заключения
                    рецензентов.
                    <br><br>
                    Рекламные статьи и рекламные модули публикуются в соответствии с утвержденными ценами.
                    <br><br>
                    Републикация в печатных изданиях и в сети Интернет статей, размещенных на сайте www.geomark.ru,
                    возможна только с указанием выходных данных (названия журнала, номера, года).
                </p>
                <div class="director-name">
                    Генеральный директор ООО «Геомаркетинг» Торбина Екатерина Андреевна
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 d-flex justify-content-between mb-3 mb-md-0">
                        <a href="images/sertificat.jpg" data-fancybox="gallery">
                            <img src="images/sertificat.jpg" alt="">
                        </a>
                        <a href="images/sertificat.jpg" data-fancybox="gallery">
                            <img src="images/sertificat.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="border-line pt-0"></div>
                        <a href="#" download class="download">
                            <img src="images/pdf-file.png" alt="">
                            Карточка предприятия
                        </a>
                        <div class="border-line"></div>
                        <div class="about">
                            <div class="contact-line">
                                <div class="contact-line__name">
                                    Бухгалтерия:
                                </div>
                                <div class="contact-line__value">
                                    <a href="tel:84952106306">
                                        8 (495) 210-63-06
                                    </a>
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="contact-line__name">Редакция:</div>
                                <div class="contact-line__value">
                                    <a href="tel:84952106390">
                                        8 (495) 210-63-90
                                    </a>
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="contact-line__name">Подписка:</div>
                                <div class="contact-line__value">
                                    <a href="tel:84952108992">
                                        8 (495) 210-89-92
                                    </a>
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="contact-line__name">Адрес:</div>
                                <div class="contact-line__value">
                                    Москва, Электрозаводская улица, д. 60. (м. Преображенская площадь)
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="contact-line__name">Почтовый адрес:</div>
                                <div class="contact-line__value">
                                    105187, г. Москва, Окружной проезд, дом №18
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="contact-line__name">E-mail:</div>
                                <div class="contact-line__value">
                                    <a href="mailto:info@geomark.ru">
                                        info@geomark.ru
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')