<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Конференции
                </h1>
            </div>
            <div class="container_bg  container_bg-none-p">
                <div class="category-container">
                    <div class="category-blue">
                        Год
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">2018</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2">2017</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3" >2016</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content year-container" id="myTabContent">
                    <div class="tab-pane fade show active" id="category-1">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a href="#">
                                    <img src="images/news-7.jpg" alt="">
                                </a>

                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#">
                                        <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                    </a>

                                    <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                        к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                        требованиям технических регламентов и иным ...</p>
                                </div>
                                <div>
                                    <div class="flex align-items-sm-center align-items-start mt-2 mb-2 mb-sm-3 justify-content-md-end flex-column flex-sm-row">
                                        <div class="date-small">09.06.2018 - 16.06.2018</div>
                                        <a href="#" class="btn btn-bg_blue ml-sm-2">Принять участие</a>
                                    </div>
                                    <div class="tags-items mt-0">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a href="#">
                                    <img src="images/news-7.jpg" alt="">
                                </a>

                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#">
                                        <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                    </a>

                                    <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                        к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                        требованиям технических регламентов и иным ...</p>
                                </div>
                                <div>
                                    <div class="flex align-items-sm-center align-items-start mt-2 mb-2 mb-sm-3 justify-content-md-end flex-column flex-sm-row">
                                        <div class="date-small">09.06.2018 - 16.06.2018</div>
                                        <a href="#" class="btn btn-bg_blue ml-sm-2">Принять участие</a>
                                    </div>
                                    <div class="tags-items mt-0">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a href="#">
                                    <img src="images/news-7.jpg" alt="">
                                </a>

                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#">
                                        <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                    </a>

                                    <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                        к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                        требованиям технических регламентов и иным ...</p>
                                </div>
                                <div>
                                    <div class="flex align-items-sm-center align-items-start mt-2 mb-2 mb-sm-3 justify-content-md-end flex-column flex-sm-row">
                                        <div class="date-small">09.06.2018 - 16.06.2018</div>
                                        <a href="#" class="btn btn-bg_blue ml-sm-2">Принять участие</a>
                                    </div>
                                    <div class="tags-items mt-0">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-2">2</div>
                    <div class="tab-pane fade" id="category-3">3</div>
                </div>
            </div>
            <a href="#" class="banner-container" style="background-image: url('images/banner-2.jpg')"></a>
            <div class="title">
                <h1>
                    Остальные мероприятия
                </h1>
            </div>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')