<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Реклама в журнале
                </h1>
            </div>
            <div class="container_bg">
                <p>
                    Приглашаем авторов и организации размещать тематические имиджевые статьи и рекламные модули в наших
                    журналах.
                </p>
                <div class="border-line"></div>
                <a href="" download class="download">
                    <img src="images/pdf-file.png" alt="">
                    СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ПО РЕКЛАМНОМУ СОТРУДНИЧЕСТВУ НА 2018 ГОД.
                </a>
                <div class="border-line"></div>
                <p class="fw-700">
                    Почему эффективна реклама в наших журналах:
                </p>
                <div class="list">
                    <p>территория распространения – все регионы РФ и страны ближайшего зарубежья;</p>
                    <br>
                    <p>журналы распространяется по подписке и на профильных конференциях; подшивка журналов за
                        предыдущие года размещены на сайте редакции в свободном доступе;</p>
                    <br>
                    <p>в журналах публикуются научно-технические, практические, аналитические и обзорные статьи по
                        широкому кругу проблем, с которыми сталкиваются изыскатели в своей работе;</p>
                    <br>
                    <p>
                        редакция является организатором отраслевых конференций и выставок;
                    </p>
                </div>
                <br><br>
                <p class="fw-700">
                    Наша задача – сделать Вашу рекламную кампанию эффективной!
                </p>
                <br>
                <p class="fw-700 text-blue">
                    Журналы «Инженерные Изыскания» и «Геотехника»
                </p>
                <br>
                <div class="advertising-price">
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Логотип на первой обложке
                        </div>
                        <div class="col-4">
                            30 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            2-я обложка
                        </div>
                        <div class="col-4">
                            80 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            3-я обложка
                        </div>
                        <div class="col-4">
                            70 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            4-я обложка
                        </div>
                        <div class="col-4">
                            100 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Разворот
                        </div>
                        <div class="col-4">
                            50 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Полоса
                        </div>
                        <div class="col-4">
                            30 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            1/2 полосы
                        </div>
                        <div class="col-4">
                            15 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Рекламная статья (цена за полосу)

                        </div>
                        <div class="col-4">
                            15 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Вложение CD/DVD-диска или буклета (до 4 полос)
                        </div>
                        <div class="col-4">
                            100 000 руб.
                        </div>
                    </div>
                </div>
                <br>
                <p class="fw-700 text-blue">
                    Журналы «Инженерная Геология» и «Геориск»
                </p>
                <br>
                <div class="advertising-price">
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Логотип на первой обложке
                        </div>
                        <div class="col-4">
                            25 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            2-я обложка
                        </div>
                        <div class="col-4">
                            35 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            3-я обложка
                        </div>
                        <div class="col-4">
                            35 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            4-я обложка
                        </div>
                        <div class="col-4">
                            50 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Разворот
                        </div>
                        <div class="col-4">
                            50 000 руб.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-8">
                            Полоса
                        </div>
                        <div class="col-4">
                            25 000 руб.
                        </div>
                    </div>
                </div>
                <br>
                <p>Цены включают в себя все налоги и действительны при оплате заказа в 2018 году.</p>
                <br>
                <p>Скидки на размещения в 2-х номерах — 5%, 3-х номерах — 7%, 6-ти номерах — 20%</p>
                <br>
                <div class="border-items">
                    <div class="contact-line">
                        <div class="contact-line__name">Контакты по сотрудничеству:</div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">Алешина Яна</div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">
                            Телефоны:
                        </div>
                        <div class="contact-line__value">
                            <a href="tel:84952106390">
                                8 (495) 210-63-90
                            </a>
                        </div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">E-mail:</div>
                        <div class="contact-line__value">
                            <a href="mailto:aleshina@geomark.ru">
                                aleshina@geomark.ru
                            </a>
                        </div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">Стоимость размещения баннеров на портале Geomark.ru высылается
                            по запросу.
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-1.jpg')"></a>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')