<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Журнады
                </h1>
            </div>
            <div class="container_bg">
                <div class="title-flex__start">
                    <h2>ИНЖЕНЕРНЫЕ ИЗЫСКАНИЯ</h2>
                    <div class="btn btn-blue ml-3">ПОДШИВКА</div>
                </div>
                <div class="archive-items">
                    <a href="#" class="archive-item">
                        <img src="images/magazine-5.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-6.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-7.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-8.jpg" alt="">
                    </a>
                </div>
                <div class="title-flex__start">
                    <h2>ИНЖЕНЕРНАЯ ГЕОЛОГИЯ</h2>
                    <div class="btn btn-blue ml-3">ПОДШИВКА</div>
                </div>
                <div class="archive-items">
                    <a href="#" class="archive-item">
                        <img src="images/magazine-9.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-10.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-11.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-12.jpg" alt="">
                    </a>
                </div>
                <div class="title-flex__start">
                    <h2>ГЕОТЕХНИКА</h2>
                    <div class="btn btn-blue ml-3">ПОДШИВКА</div>
                </div>
                <div class="archive-items">
                    <a href="#" class="archive-item">
                        <img src="images/magazine-13.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-14.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-15.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-16.jpg" alt="">
                    </a>
                </div>
                <div class="title-flex__start">
                    <h2>ГЕОРИСК</h2>
                    <div class="btn btn-blue ml-3">ПОДШИВКА</div>
                </div>
                <div class="archive-items">
                    <a href="#" class="archive-item">
                        <img src="images/magazine-17.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-18.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-19.jpg" alt="">
                    </a>
                    <a href="#" class="archive-item">
                        <img src="images/magazine-20.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')