<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <div class="h1">
                    Контакты
                </div>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-line">
                            <div class="contact-line__name">
                                Бухгалтерия:
                            </div>
                            <div class="contact-line__value">
                                <a href="tel:84952106306">
                                    8 (495) 210-63-06
                                </a>
                            </div>
                        </div>
                        <div class="contact-line">
                            <div class="contact-line__name">Редакция:</div>
                            <div class="contact-line__value">
                                <a href="tel:84952106390">
                                    8 (495) 210-63-90
                                </a>
                            </div>
                        </div>
                        <div class="contact-line">
                            <div class="contact-line__name">Подписка:</div>
                            <div class="contact-line__value">
                                <a href="tel:84952108992">
                                    8 (495) 210-89-92
                                </a>
                            </div>
                        </div>
                        <div class="contact-line">
                            <div class="contact-line__name">Адрес:</div>
                            <div class="contact-line__value">
                                Москва, Электрозаводская улица, д. 60. (м. Преображенская площадь)
                            </div>
                        </div>
                        <div class="contact-line">
                            <div class="contact-line__name">Почтовый адрес:</div>
                            <div class="contact-line__value">
                                105187, г. Москва, Окружной проезд, дом №18
                            </div>
                        </div>
                        <div class="contact-line">
                            <div class="contact-line__name">E-mail:</div>
                            <div class="contact-line__value">
                                <a href="mailto:info@geomark.ru">
                                    info@geomark.ru
                                </a>
                            </div>
                        </div>
                        <div id="map"></div>
                        <div class="h2">
                            Написать нам
                        </div>
                        <form action="#" class="mt-3">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-item form-item__error">
                                        <label for="name">ФИО</label>
                                        <input type="text" id="name">
                                    </div>
                                    <div class="form-item">
                                        <label for="phone">Телефон</label>
                                        <input type="text" id="phone" class="phone">
                                    </div>
                                    <div class="form-item">
                                        <label for="email">Email</label>
                                        <input type="text" id="email">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-item form-item__textarea">
                                        <label for="message">Ваше сообщение</label>
                                        <textarea id="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-7 offset-md-5">
                                    <div class="row no-gutters align-items-center justify-content-between">
                                        <div class="col-sm-8">
                                            <div class="consent">
                                                <div class="consent-checked">
                                                    <input id="consent" type="checkbox">
                                                    <span></span>
                                                </div>
                                                <label for="consent" class="consent-text">Я согласен на обработку персональных данных</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-3 mt-sm-0">
                                            <input type="submit" class="btn btn-blue" value="Отправить">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r mb-2r" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')