<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    БЕзопастность
                </h1>
            </div>
            <div class="container_bg  container_bg-none-p documents">
                <div class="category-container tab-content__links">
                    <div class="category-blue">
                        Категории
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">ГОСТ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2"> ГОСТ р</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3">СНИП</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-4">СанПиН</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-5">Федеральные законы</a>
                        </li>
                        <li>
                            <div>
                                <div class="add-category btn btn-blue" data-toggle="collapse" data-target="#collapseExample">Больше категорий</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav nav-tabs" id="myTab-2" role="tablist">
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-7" class="tags-item__profile">
                                Полный список
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-7" class="tags-item__profile">
                                Интервью
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-8" class="tags-item__profile">
                                Геофизика
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-9" class="tags-item__profile">
                                Экология
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-9" class="tags-item__profile">
                                Экология
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-2r" id="category-1">
                    <div class="container_bg">
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                    </div>
                    <a href="#" class="banner-container mt-2r mb-2r"
                       style="background-image: url('images/banner-2.jpg')"></a>
                    <div class="container_bg">
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                        <div class="document-item">
                            <div class="document-item__date">
                                03.08.2018 - 02.10.2018
                            </div>
                            <div class="document-item__m">
                                <a href="#" class="black-link">
                                    <div class="document-item__gost">
                                        1.13.465-2.067.18
                                    </div>
                                    <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                                </a>

                            </div>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                                пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                                года в этом вопросе, и мы начали предпроектную ...</p>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>

                        </div>
                    </div>
                    <div class="title">
                        <h1>
                            Актуальное
                        </h1>
                    </div>
                    @@include('../layout/technical_solutions.html')
                </div>
                <div class="tab-pane fade mt-2r" id="category-2">
                    <div class="container_bg">
                        2
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-3">
                    <div class="container_bg">
                        3
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-4">
                    <div class="container_bg">
                        4
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-5">
                    <div class="container_bg">
                        5
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-6">
                    <div class="container_bg">
                        6
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-7">
                    <div class="container_bg">
                        7
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-8">
                    <div class="container_bg">
                        8
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-9">
                    <div class="container_bg">
                        9
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-10">
                    <div class="container_bg">
                        10
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')