<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Нормативные документы
                </h1>
            </div>
            <div class="container_bg">
                <div class="title-flex">
                    <div class="title-flex__left">
                        <div class="title-gost">1.13.465-2.067.18 ГОСТ</div>
                        <h2>Грунты. Методы полевых испытаний сваями</h2>
                    </div>
                    <div class="title-icon">

                    </div>
                </div>
                <div class="content-date">03.08.2018 - 02.10.2018</div>
                <a href="#">
                    Минстрой. рф
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                    <br><br>
                </p>
            </div>
            <div class="h1">
                Нормативные документы
            </div>
            <div class="container_bg">
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>

                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
            </div>
            <a href="#" class="banner-container mt-2r mb-2r" style="background-image: url('images/banner-2.jpg')"></a>
            <div class="container_bg">
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
            </div>
            <a href="#" class="banner-container mt-2r mb-2r" style="background-image: url('images/banner-3.jpg')"></a>
            <div class="container_bg">
                <div class="document-item">
                    <div class="document-item__date">
                        03.08.2018 - 02.10.2018
                    </div>
                    <div class="document-item__m">
                        <a href="#" class="black-link">
                            <div class="document-item__gost">
                                1.13.465-2.067.18
                            </div>
                            <h3>ГОСТ Грунты. Методы полевых испытаний сваями</h3>
                        </a>
                    </div>
                    <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет, сообщил в
                        пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые — три ближайшие
                        года в этом вопросе, и мы начали предпроектную ...</p>
                    <div class="tags-items">
                        <a href="#" class="tags-item">Интервью</a>
                        <a href="#" class="tags-item">Геофизика</a>
                        <a href="#" class="tags-item">Экология</a>
                    </div>

                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')