<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Архив мероприятий
                </h1>
            </div>
            <div class="container_bg">
                <h2>
                    XIII Общероссийская научно-практическая конференция и выставка «Перспективы развития инженерных
                    изысканий в строительстве в Российской Федерации»
                </h2>
                <div class="date">
                    28.11.2017 - 01.12.2017
                </div>
                <div class="btn-container d-flex flex-column flex-md-row">
                    <a href="#" class="btn btn-blue mr-0 mr-md-0 mb-3 mb-0">
                        Программа
                    </a>
                    <a href="#" class="btn btn-blue">
                        Материалы
                    </a>
                </div>
                <div class="slider-items">
                    <a href="images/event_archive_1.jpg" data-fancybox="gallery" class="fancy-gallery">
                        <img src="images/event_archive_1.jpg" alt="">
                    </a>
                    <a href="images/event_archive_2.jpg" data-fancybox="gallery" class="fancy-gallery">
                        <img src="images/event_archive_2.jpg" alt="">
                    </a>
                    <a href="images/event_archive_3.jpg" data-fancybox="gallery" class="fancy-gallery">
                        <img src="images/event_archive_3.jpg" alt="">
                    </a>
                    <a href="images/event_archive_1.jpg" data-fancybox="gallery" class="fancy-gallery">
                        <img src="images/event_archive_1.jpg" alt="">
                    </a>
                </div>
                <p>
                    С 10 декабря по 14 декабря 2018 года в Москве состоится четырнадцатая Общероссийская
                    научно-практическая конференция и выставка
                    <br><br>
                    «Перспективы развития инженерных изысканий в строительстве в Российской Федерации».
                    <br><br>
                    Конференция проводится ООО «Геомаркетинг» при поддержке ООО «Институт геотехники и инженерных
                    изысканий в строительстве» (ООО «ИГИИС»), Ассоциации «Инженерные изыскания в строительстве»
                    («АИИС»), Союза Изыскателей.
                    <br><br>
                    Генеральными информационными партнерами конференции являются журналы «Инженерные изыскания»,
                    «Инженерная геология», «ГеоРиск», «Геотехника».
                    <br><br>
                    Это крупнейшее ежегодное событие в отрасли, для участия в котором приезжают специалисты из всех
                    регионов Российской Федерации и из-за рубежа.
                    <br><br>
                    На пленарном заседании традиционно выступают не только профессионалы-изыскатели, но и представители
                    органов государственной власти, общественных организаций, руководители крупнейших проектных и
                    изыскательских организаций.
                    <br><br>
                    С 11 по 13 декабря в рамках конференции будет проходить тематическая выставка полевого и
                    лабораторного оборудования для инженерных изысканий в строительстве.
                    <br><br>
                    Заявки на участие в конференции и материалы докладов принимаются на электронный адрес
                    conf@geomark.ru до 10 ноября 2018 года
                    <br><br>
                    Место проведения конференции: м. «СОКОЛЬНИКИ», ул. РУСАКОВСКАЯ, д. 24, ОТЕЛЬ HOLIDAY Inn
                </p>
            </div>
            <div class="title">
                <div class="h1">
                    Коментарии
                </div>
            </div>
            <div class="container_bg">
                <form action="#" class="comment-container">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-name">Федор Мармеладов</div>
                        <input type="text" class="comment-input" placeholder="Пишите в этом поле">
                        <div class="d-flex justify-content-end mt-3">
                            <div class="btn btn-blue">оТправить</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container_bg mt-2r">
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item comment-answer">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-blue">
                        показать еще
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')