<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            <div class="title">
                <div class="h1">Актуальное</div>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-md-7 pr-md-4">
                        <a href="#" class="news-item__pic">
                            <img src="images/news-1.jpg" alt="">
                        </a>
                        <a href="#" class="news-item__title">
                            <h2>
                                Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                кинетической
                                энергии несвязного селевого потока с целью трансформации его в обыкновенный нанонесущий
                                поток
                            </h2>
                        </a>
                        <div class="news-item__content">
                            Красноярский филиал Главгосэкспертизы России рассмотрел проект обогащения каменного угля
                            пласта 67 участка «Поле шахты «Увальная». Предполагаемая...
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Интервью</a>
                            <a href="#" class="tags-item">Геофизика</a>
                            <a href="#" class="tags-item">Экология</a>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-between mt-3 mt-md-0 flex-column">
                        <div class="news-items__column">
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Правительство РФ выделило более 11 млрд рублей на строительство участка трассы
                                        «Таврида» в Севастополе
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Проектное направление в строительной отрасли России сегодня находится на низком
                                        уровне.
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                        кинетической энергии несвязного селевого потока с целью трансформации его в
                                        обыкновенный нанонесущий поток
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-blue">
                                Все новости
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
            <div class="h1">Мнение</div>
            </div>
            <div class="container_bg">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 d-flex align-items-center flex-column">
                        <div class="opinion-pic">
                            <img src="images/face.jpg" alt="">
                        </div>
                        <div class="opinion-name text-center mt-2">
                            Эдуард Лимонов
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-9 pl-lg-3 mt-3 mt-md-0 text-center text-md-left">
                        <div class="h2">
                            В бой пойдут ученики
                        </div>
                        <p class="fw-300 font-italic mt-2">
                            «Если сейчас Россия, выражаясь военным языком, фактически увеличивает срок службы для
                            старослужащих, то в проекте, который я сейчас изложу, предлагается радикально омолодить
                            армию труда в стране. Однако осуществление этого проекта потребует пересмотра нескольких
                            фундаментальных традиций и табу нашего общества. Прежде всего — законодательного пересмотра
                            вопроса, где кончаются дети и начинаются взрослые. Предлагается зайти с другого конца
                            возрастной шкалы».
                        </p>
                    </div>
                </div>
            </div>
            <div class="title">
            <div class="h1">Популярное</div>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                        <div class="news-item__flex">
                            <div class="news-item__pic">
                                <img src="images/news-2.jpg" alt="">
                            </div>
                            <a href="#" class="news-item__title">
                                <h3>Главгосэкспертиза рассмотрела проект отработки запасов каменного угля разреза
                                    «Тагарышский»</h3>
                            </a>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                        <div class="news-item__flex">
                            <div class="news-item__pic">
                                <img src="images/news-3.jpg" alt="">
                            </div>
                            <a href="#" class="news-item__title">
                                <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового
                                    месторождения</h3>
                            </a>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Главгосэкспертиза</a>
                            <a href="#" class="tags-item">Береговое месторождение</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                        <div class="news-item__flex">
                            <div class="news-item__pic">
                                <img src="images/news-2.jpg" alt="">
                            </div>
                            <a href="#" class="news-item__title">
                                <h3>Строительство метро в воронеже может начаться в течение трех лет</h3>
                            </a>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Воронеж</a>
                            <a href="#" class="tags-item">строительство метро</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
            <div class="h1">Аналитика</div>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-md-7 pr-md-4">
                        <a href="#" class="news-item__pic">
                            <img src="images/news-5.jpg" alt="">
                        </a>
                        <a href="#" class="news-item__title">
                            <h2>
                                Проектное направление в строительной отрасли россии сегодня находится на низком уровне.
                            </h2>
                        </a>
                        <div class="news-item__content">
                            Красноярский филиал Главгосэкспертизы России рассмотрел проект обогащения каменного угля
                            пласта 67 участка «Поле шахты «Увальная». Предполагаемая...
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Интервью</a>
                            <a href="#" class="tags-item">Геофизика</a>
                            <a href="#" class="tags-item">Экология</a>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-between mt-3 mt-md-0 flex-column">
                        <div class="news-items__column">
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Правительство РФ выделило более 11 млрд рублей на строительство участка трассы
                                        «Таврида» в Севастополе
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Проектное направление в строительной отрасли России сегодня находится на низком
                                        уровне.
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                        кинетической энергии несвязного селевого потока с целью трансформации его в
                                        обыкновенный нанонесущий поток
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-blue">
                                Все новости
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-2.jpg')"></a>
            <div class="title">
            <div class="h1">Технические решения</div>
            </div>
            @@include('../layout/technical_solutions.html')
            <div class="title">
            <div class="h1">Научные статьи</div>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-md-7 pr-md-4">
                        <a href="#" class="news-item__pic">
                            <img src="images/news-9.jpg" alt="">
                        </a>
                        <a href="#" class="news-item__title">
                            <h2>
                                ОБОГАТИТЕЛЬНАЯ ФАБРИКА «УВАЛЬНАЯ» БУДЕТ
                                ПЕРЕРАБАТЫВАТЬ 717 ТОНН РЯДОВОГО УГЛЯ В ЧАС
                            </h2>
                        </a>
                        <div class="news-item__content">
                            Красноярский филиал Главгосэкспертизы России рассмотрел проект обогащения каменного угля
                            пласта 67 участка «Поле шахты «Увальная». Предполагаемая...
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Интервью</a>
                            <a href="#" class="tags-item">Геофизика</a>
                            <a href="#" class="tags-item">Экология</a>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-between mt-3 mt-md-0 flex-column">
                        <div class="news-items__column">
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Правительство РФ выделило более 11 млрд рублей на строительство участка трассы
                                        «Таврида» в Севастополе
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Проектное направление в строительной отрасли России сегодня находится на низком
                                        уровне.
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <a href="#" class="news-item__title">
                                    <h3>
                                        Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                        кинетической энергии несвязного селевого потока с целью трансформации его в
                                        обыкновенный нанонесущий поток
                                    </h3>
                                </a>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Интервью</a>
                                    <a href="#" class="tags-item">Геофизика</a>
                                    <a href="#" class="tags-item">Экология</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-blue">
                                Все новости
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
            <div class="h1">Полевые истории</div>
            </div>
            <div class="container-history">
                <div class="row">
                    <div class="col-md-4">
                        <div class="history-item">
                            <div class="history-item__top">
                                <div class="history-item__pic">
                                    <img src="images/face-2.jpg" alt="">
                                </div>
                                <div class="h2 mt-3 mb-3 text-center">Федор Лукъянов</div>
                                <p class="font-italic fw-300">Вопросы развития сотрудничества в строительной сфере России и Вьетнама стали главной темой встречи делегации Минстроя Вьетнама и Минстроя России.</p>
                            </div>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="history-item">
                            <div class="history-item__top">
                                <div class="history-item__pic">
                                    <img src="images/face-3.jpg" alt="">
                                </div>
                                <div class="h2 mt-3 mb-3 text-center">Федор Лукъянов</div>
                                <p class="font-italic fw-300">В рамках работы Восточного экономического форума во Владивостоке Министр природных ресурсов и экологии РФ Дмитрий Кобылкин провёл встречу с министром горной и тяжелой промышленности Монголии господином Долгорсүрэном Сумъяабазаром</p>
                            </div>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="history-item">
                            <div class="history-item__top">
                                <div class="history-item__pic">
                                    <img src="images/face-4.jpg" alt="">
                                </div>
                                <div class="h2 mt-3 mb-3 text-center">Федор Лукъянов</div>
                                <p class="font-italic fw-300">На стартовом комплексе космодрома «Восточный» обнаружили некачественно залитый бетон. </p>
                            </div>
                            <div class="tags-items">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-3.jpg')">
            </a>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')