<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Журналы
                </h1>
            </div>
            <div class="container_bg  container_bg-none-p magazine">
                <div class="category-container tab-content__links">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">ИНЖЕНЕРНЫЕ
                                ИЗЫСКАНИЯ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2">ИНЖЕНЕРНАЯ
                                ГЕОЛОГИЯ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3">ГЕОТЕХНИКА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-4">ГЕОРИСК</a>
                        </li>
                    </ul>
                </div>
                <div class="magazine-year__container">
                    <div class="magazine-year__container-scroll">
                        <span>ПОДШИВКА </span>
                        <a href="#" class="active">2018</a>
                        <a href="#">2017</a>
                        <a href="#">2016</a>
                        <a href="#">2015</a>
                        <a href="#">2014</a>
                        <a href="#">2013</a>
                        <a href="#">2012</a>
                        <a href="#">2011</a>
                        <a href="#">2010</a>
                    </div>

                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-2r" id="category-1">
                    <div class="container_bg">
                        <p>
                            Журнал «Инженерные изыскания» впервые вышел в свет в июне 2007 года как специальное
                            приложение к журналу «Инженерная геология». Первый самостоятельный номер был представлен на
                            конференции «Перспективы развития инженерных изысканий в строительстве в Российской
                            Федерации» в декабре 2007 года.
                            <br><br>
                            С 2009 года журнал выпускается ежемесячно.
                            <br><br>
                            В журнале публикуются научно-технические и практические статьи по широкому кругу проблем, с
                            которыми сталкиваются изыскатели в своей работе. Среди основных тем – техника и технологии
                            инженерных изысканий, изыскания в сложных инженерно-геологических условиях, на объектах
                            нефтегазового комплекса, для уникальных и технически сложных объектов, а также работа с
                            нормативными документами, проблемы прохождения государственной экспертизы работ и многие
                            другие вопросы.
                            <br><br>
                            Большое внимание уделяется аналитическим и обзорным материалам, посвященным введению и
                            развитию в отрасли саморегулирования.
                            <br><br>
                            Экспертами журнала являются ведущие отраслевые специалисты, депутаты Государственной Думы
                            Российской Федерации и члены Совета Федерации, юристы, экономисты, сотрудники ведущих ВУЗов
                            страны.
                            <br><br>
                            С февраля 2010 года журнал включен в Перечень ведущих рецензируемых научных журналов и
                            изданий, в которых должны быть опубликованы основные научные результаты диссертаций на
                            соискание ученых степеней доктора и кандидата наук, что, несомненно, свидетельствует о
                            высоком качестве изданий и их востребованности в отрасли.
                            <br><br>
                            Тираж журнала – от 1500 до 5000 экземпляров.
                            <br><br>
                        </p>
                        <div class="text-uppercase">СОСТАВ НАУЧНО-РЕДАКЦИОННОГО СОВЕТА ЖУРНАЛА «ИНЖЕНЕРНЫЕ ИЗЫСКАНИ
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 mb-2 mb-sm-0 d-flex justify-content-center justify-content-sm-start">
                                <img src="images/user-1.jpg" alt="">
                            </div>
                            <div class="col-md-10 col-sm-9">
                                Богданов Михаил Игоревич — Главный редактор, кандидат геолого-минералогических наук,
                                генеральный директор ООО «ИГИИС», президент Координационного совета Ассоциации
                                «Инженерные изыскания в строительстве», член Международной ассоциации по инженерной
                                геологии и окружающей среде (МАИГ), действительный член Института минералов, материалов
                                и горного дела (IOMЗ, Великобритания), член Международной организации по стандартизации,
                                ИСО (Москва, Россия)
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 mb-2 mb-sm-0 d-flex justify-content-center justify-content-sm-start">
                                <img src="images/user-2.jpg" alt="">
                            </div>
                            <div class="col-md-10 col-sm-9">
                                Алабян Андрей Михайлович — Кандидат географических наук, доцент кафедры гидрологии суши
                                географического факультета МГУ им. М.В. Ломоносова (Москва, Россия)
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 mb-2 mb-sm-0 d-flex justify-content-center justify-content-sm-start">
                                <img src="images/user-3.jpg" alt="">
                            </div>
                            <div class="col-md-10 col-sm-9">
                                Вознесенский Евгений Арнольдович — Доктор геолого-минералогических наук, профессор
                                кафедры инженерной и экологической геологии геологического факультета МГУ им. М.В.
                                Ломоносова (Москва, Россия)
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 mb-2 mb-sm-0 d-flex justify-content-center justify-content-sm-start">
                                <img src="images/user-4.jpg" alt="">
                            </div>
                            <div class="col-md-10 col-sm-9">
                                Коваленко Владимир Георгиевич — Доктор геолого-минералогических наук, профессор геологического факультета МГУ им. М.В. Ломоносова, государственный эксперт-инженер ГАУ «Мосгосэкспертиза» (Москва, Россия)
                            </div>
                        </div>
                    </div>
                    <a href="#" class="banner-container mt-2r mb-2r"
                       style="background-image: url('images/banner-1.jpg')"></a>
                    <div class="title">
                        <h1>
                            Научные статьи из журнала
                        </h1>
                    </div>
                    @@include('../layout/technical_solutions.html')
                </div>
                <div class="tab-pane fade mt-2r" id="category-2">
                    <div class="container_bg">
                        2
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-3">
                    <div class="container_bg">
                        3
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-4">
                    <div class="container_bg">
                        4
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')