<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Журналы
                </h1>
            </div>
            <div class="container_bg  container_bg-none-p magazine">
                <div class="category-container tab-content__links">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">ИНЖЕНЕРНЫЕ
                                ИЗЫСКАНИЯ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2">ИНЖЕНЕРНАЯ
                                ГЕОЛОГИЯ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3">ГЕОТЕХНИКА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-4">ГЕОРИСК</a>
                        </li>
                    </ul>
                </div>
                <div class="magazine-year__container">
                    <div class="magazine-year__container-scroll">
                        <span>ПОДШИВКА </span>
                        <a href="#" class="active">2018</a>
                        <a href="#">2017</a>
                        <a href="#">2016</a>
                        <a href="#">2015</a>
                        <a href="#">2014</a>
                        <a href="#">2013</a>
                        <a href="#">2012</a>
                        <a href="#">2011</a>
                        <a href="#">2010</a>
                    </div>

                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-2r" id="category-1">
                    <div class="container_bg pb-0">
                        <div class="row">
                            <div class="col-md-3 pl-md-4 pr-md-4 col-sm-4 col-6 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-24.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 text-center mt-3">1-2/2018</div>
                            </div>
                            <div class="col-md-3 pl-md-4 pr-md-4 col-sm-4 col-6 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-24.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 text-center mt-3">1-2/2018</div>
                            </div>
                            <div class="col-md-3 pl-md-4 pr-md-4 col-sm-4 col-6 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-24.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 text-center mt-3">1-2/2018</div>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <h1>
                            Научные статьи из журнала
                        </h1>
                    </div>
                    @@include('../layout/technical_solutions.html')
                    <a href="#" class="banner-container mt-2r mb-2r" style="background-image: url('images/banner-2.jpg')"></a>
                    @@include('../layout/technical_solutions.html')
                </div>
                <div class="tab-pane fade mt-2r" id="category-2">
                    <div class="container_bg">
                        2
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-3">
                    <div class="container_bg">
                        3
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-4">
                    <div class="container_bg">
                        4
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')