<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Журналы
                </h1>
            </div>
            <div class="container_bg">
                <div class="row">
                    <div class="col-lg-3 col-sm-4">
                        <div class="magazine-item__pic">
                            <img src="images/magazine-21.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-8 d-flex flex-column justify-content-between">
                        <div class="magazine-item__top">
                            <h2>ЖУРНАЛ «ИНЖЕНЕРНЫЕ ИЗЫСКАНИЯ», ТОМ XII, № 5-6/2018 5-6/2018</h2>
                            <a href="#" class="magazine-item__link">
                                5-6/2018
                            </a>
                        </div>
                        <div class="magazine-item__bottom">
                            <div class="magazine-item__price">690 РУБ.</div>
                            <div class="magazine-item__btn">
                                <a href="#" class="btn btn-bg_blue">ПРИОБРЕСТИ ПОЛНУЮ ВЕРСИЮ</a>
                                <div class="d-flex align-items-center">
                                    <span>ИЛИ</span>
                                    <a href="#" class="btn btn-bg_blue">ОФОРМИТЬ ПОДПИСКУ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="magazine-content__title">
                            СОДЕРЖАНИЕ
                        </div>
                        <div class="magazine-content__title">
                            СОДЕРЖАНИЕ СОБЫТИЯ И МНЕНИЯ
                        </div>
                        <div class="magazine-content__flex">
                            <div class="magazine-content">
                                <span>
                                    Захаров М.С., Лаврусевич А.А., Кропоткин М.П. <br>
                                Правильные люди должны делать правильное дело правильными методами
                                </span>
                            </div>
                            <div class="magazine-page">6</div>
                        </div>
                        <div class="magazine-content__title">
                            ИНЖЕНЕРНО-ЭКОЛОГИЧЕСКИЕ ИЗЫСКАНИЯ
                        </div>
                        <div class="magazine-content__flex">
                            <div class="magazine-content">
                                <span>
                                    Отмахов Ю.С., Королюк А.Ю., Ермаков А.А. <br>
                                Некоторые рекомендации по исследованию растительного покрова <br>
                                при выполнении инженерно-экологических изысканий
                                </span>
                            </div>
                            <div class="magazine-page">20</div>
                        </div>
                        <div class="magazine-content__flex">
                            <div class="magazine-content">
                                <span>
                                    Колесников Р.А., Макеев В.М., Романова Е.Н., Стурман В.И., Журкина К.А<br>
                                Исследование объектов накопленного экологического ущерба на острове <br>
                                Вилькицкого (Карское море)
                                </span>
                            </div>
                            <div class="magazine-page">32</div>
                        </div>
                        <div class="magazine-content__flex">
                            <div class="magazine-content">
                                <span>
                                    Космаков И.В., Петров В.М., Шулепина С.П. <br>
                                Оценка биомассы донной фауны нижнего течения реки Ангара <br>
                                в районе Горевского ГОКа
                                </span>
                            </div>
                            <div class="magazine-page">42</div>
                        </div>
                        <div class="magazine-content__title">
                            ИНЖЕНЕРНО-ГЕОЛОГИЧЕСКИЕ ИЗЫСКАНИЯ
                        </div>
                        <div class="magazine-content__flex">
                            <div class="magazine-content">
                                <span>
                                   Воскресенский И.С., Сучилин А.А., Ушакова Л.А., Шафоростов В.М., <br>
Энтин А.Л., Иванов М.М. <br>
Изучение морфологии оползня на основе данных ГНСС <br>
и воздушного зондирования (на примере участка долины р. Протва)  <br>
                                </span>
                            </div>
                            <div class="magazine-page">50</div>
                        </div>
                        <div class="magazine-content__title">
                            и так далее
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-1.jpg')"></a>
            <div class="title">
                <h1>
                    Научные статьи из журнала
                </h1>
            </div>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')