<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="container_bg">
                <div class="row mb-2r">
                    <div class="col-md-5 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                        <img src="images/news-7.jpg" alt="">
                    </div>
                    <div class="col-md-7 d-flex flex-column justify-content-between">
                        <div>
                            <h2>Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                кинетической
                                энергии несвязного селевого потока с целью трансформации его в обыкновенный нанонесущий
                                поток</h2>
                            <div class="content-date">03.08.2018 - 02.10.2018</div>
                            <div class="author">Автор</div>
                        </div>
                        <div>
                            <div class="soc-items">
                                <a href="#" class="soc-item">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="soc-item">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="soc-item">
                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="bookmark">
                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                    Добавить в мои закладки
                                </a>
                            </div>
                            <div class="tags-items mt-1">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    В статье представлены результаты длительных натурных измерений развития осадок городской застройки
                    на естественном основании, сложенном водонасыщенными глинистыми грунтами малой и средней степени
                    литификации (слабыми грунтами).
                    <br><br>
                    Приведены данные о натурных измерениях накопленных осадок с момента постройки зданий на протяжении
                    нескольких десятилетий. Представлены сведения о геоинформационной системе, построенной по
                    результатам нивелировок нескольких тысяч реперов.
                    <br><br>
                    Данная система позволяет судить об осадках «вековой ползучести» исторической застройки города.
                    Продемонстрировано отсутствие стабилизации осадок зданий на протяжении 100 лет, т.е. понятие
                    «конечная осадка» неприменимо для зданий на слабых грунтах.
                    <br><br>
                    В статье представлены результаты длительных натурных измерений развития осадок городской застройки
                    на естественном основании, сложенном водонасыщенными глинистыми грунтами малой и средней степени
                    литификации (слабыми грунтами).
                    <br><br>
                    Приведены данные о натурных измерениях накопленных осадок с момента постройки зданий на протяжении
                    нескольких десятилетий. Представлены сведения о геоинформационной системе, построенной по
                    результатам нивелировок нескольких тысяч реперов.
                    <br><br>
                    Данная система позволяет судить об осадках «вековой ползучести» исторической застройки города.
                    Продемонстрировано отсутствие стабилизации осадок зданий на протяжении 100 лет, т.е. понятие
                    «конечная осадка» неприменимо для зданий на слабых грунтах.
                </p>
                <div class="paid-content__flex">
                    <div class="paid-content__price">
                        300 <span>руб</span>
                    </div>
                    <div class="btn btn-bg_blue pl-md-5 pr-md-5">Приобрести полную версию</div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-2.jpg')"></a>
            <div class="title">
                <div class="h1">
                    Коментарии
                </div>
            </div>
            <div class="container_bg text-center">
                <p>
                    Чтобы оставлять комментарии вам необходимо <a href="#" class="link-black">войти</a> под своим
                    аккаунтом. Если вы еще <br> не
                    зарегистрированы, то можете пройти <a href="#" class="link-black">регистрацию</a>, которая займет
                    всего пару минут.
                </p>
            </div>
            <div class="container_bg mt-2r">
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item comment-answer">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-blue">
                        показать еще
                    </div>
                </div>
            </div>
            <div class="title">
                <div class="h1">
                    Читайте также
                </div>
            </div>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')