<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Наши партнеры
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item partner-item__main">
                        <div class="partner-item__pic">
                            <img src="images/partners-1.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            Ассоциация "Инженерные  изыскания в строительстве"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item partner-item__main">
                        <div class="partner-item__pic">
                            <img src="images/partners-2.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            Институт геотехники и инженерных изысканий в строительстве
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item partner-item__main">
                        <div class="partner-item__pic">
                            <img src="images/partners-3.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            Союз Изыскателей
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-4.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            АО "ИНСТИТУТ ЭКОЛОГИЧЕСКОГО ПРОЕКТИРОВАНИЯ И ИЗЫСКАНИЙ"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-5.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            ООО "НПП "ГЕОТЕК"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-6.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            АО "СТРОЙИЗЫСКАНИЯ"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-7.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            ООО "ПЕТРОМОДЕЛИНГ"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-8.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            Геотехническая лаборатория АО "МОСТДОРГЕОТРЕСТ"
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <a href="#" class="partner-item">
                        <div class="partner-item__pic">
                            <img src="images/partners-9.jpg" alt="">
                        </div>
                        <div class="partner-item__title">
                            ООО "ТРУМЕР ЩУТЦБАУТЕН РУС" TRUMER SCHUTZBAUTEN GMBH
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')