<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    АО "ИНСТИТУТ ЭКОЛОГИЧЕСКОГО ПРОЕКТИРОВАНИЯ И ИЗЫСКАНИЙ"
                </h1>
            </div>
            <div class="container_bg pb-3">
                <div class="row align-items-center mb-3">
                    <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                        <img src="images/partner-page.png" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <div class="partner-info">Официальный сайт партнера</div>
                        <div class="partner-info">Генеральный директор: Владимир Слободян</div>
                        <div class="partner-info">Контакты: <a href="#">+7 (495) 930-87-51</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            АО «Институт экологического проектирования и изысканий», ООО «Аналитический центр МГУ» и ООО
                            «Центр нефтегазового инжиниринга МГУ имени М.В.Ломоносова» – это группа компаний, основанных
                            в 2006 году выпускниками географического факультета Московского государственного
                            университета им. М.В. Ломоносова. Мы осуществляем все виды инженерных изысканий для
                            строительства, проектирование зданий и сооружений I и II уровней ответственности,
                            научно-исследовательскую и опытно-конструкторскую деятельность.
                            <br><br>
                            Все работы проводятся в соответствии с действующим природоохранным, строительным, санитарным
                            законодательством Российской Федерации. Проектная и техническая документация соответствует
                            нормам и требованиям федерального и регионального законодательства, отличается высоким
                            качеством исполнения и оформления, проходит Государственную экспертизу и необходимые
                            согласования.
                            <br><br>
                            За время работы нами было выполнено более 200 проектов в области изысканий для
                            строительства, проектирования зданий и сооружений, экологического мониторинга и научных
                            исследований.
                            <br><br>
                            Наших сотрудников отличает высокий профессионализм и большой опыт работы в области
                            строительства, проектирования и инженерных изысканий. Все специалисты получили высшее
                            образование, многие имеют ученые степени, налажена система менеджмента согласно
                            международным стандартам ISO. Мы предлагаем гибкую ценовую политику, высокое качество работ,
                            индивидуальный подход к каждому клиенту, а также возможность выполнить работу в кратчайшие
                            сроки.
                            <br><br>
                            АО «Институт экологического проектирования и изысканий» и ООО «Аналитический центр МГУ»
                            обладают всеми необходимыми лицензиями, сертификатами и аттестатами аккредитации, а также
                            состоят в реестре саморегулируемых организаций (СРО) по проектированию и инженерным
                            изысканиям.
                            <br><br>
                            Основными видами нашей деятельности являются:
                            <br><br>
                            Инженерно-экологические изыскания  <br>
                            Инженерно-геологические изыскания<br>
                            Инженерно-гидрометеорологические изыскания<br>
                            Инженерно-геодезические изыскания<br>
                            Радиационно-экологические исследования<br>
                            Экологическое проектирование<br>
                            Экологический консалтинг и аудит<br>
                            Ландшафтный дизайн и архитектура<br>
                            Картографическое и ГИС-обеспечение работ<br>
                            Научные исследования и разработки<br>
                            Также мы развиваем новые направления работы, к которым относятся:<br><br>

                            Геокриологические исследования<br>
                            Геофизические изыскания<br>
                            Производственный экологический мониторинг и контроль<br>
                            Геотехнический мониторинг объектов строительства<br>
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 d-flex flex-wrap">
                        <a href="images/fancy-1.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-1.jpg" alt="">
                        </a>
                        <a href="images/fancy-2.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-2.jpg" alt="">
                        </a>
                        <a href="images/fancy-3.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-3.jpg" alt="">
                        </a>
                        <a href="images/fancy-4.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-4.jpg" alt="">
                        </a>
                        <a href="images/fancy-5.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-5.jpg" alt="">
                        </a>
                        <a href="images/fancy-6.jpg" data-fancybox="gallery" class="fancy-gallery">
                            <img src="images/fancy-6.jpg" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <a href="#" class="banner-container mt-2r mb-2r" style="background-image: url('images/banner-2.jpg')"></a>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')