<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="container_bg mt-2r">
                <div class="row mb-2r">
                    <div class="col-md-5 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                        <img src="images/news-7.jpg" alt="">
                    </div>
                    <div class="col-md-7 d-flex flex-column justify-content-between">
                        <div>
                            <h2>Гидравлический расчет противоселевого сооружения с донной решеткой для гашения
                                кинетической
                                энергии несвязного селевого потока с целью трансформации его в обыкновенный нанонесущий
                                поток</h2>
                            <div class="content-date">03.08.2018 - 02.10.2018</div>
                            <div class="author">Автор</div>
                        </div>
                        <div>
                            <div class="soc-items">
                                <a href="#" class="soc-item">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="soc-item">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="soc-item">
                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="bookmark">
                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                    Добавить в мои закладки
                                </a>
                            </div>
                            <div class="tags-items mt-1">
                                <a href="#" class="tags-item">Интервью</a>
                                <a href="#" class="tags-item">Геофизика</a>
                                <a href="#" class="tags-item">Экология</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    В статье представлены результаты длительных натурных измерений развития осадок городской застройки
                    на естественном основании, сложенном водонасыщенными глинистыми грунтами малой и средней степени
                    литификации (слабыми грунтами).
                    <br><br>
                    Приведены данные о натурных измерениях накопленных осадок с момента постройки зданий на протяжении
                    нескольких десятилетий. Представлены сведения о геоинформационной системе, построенной по
                    результатам нивелировок нескольких тысяч реперов.
                    <br><br>
                    Данная система позволяет судить об осадках «вековой ползучести» исторической застройки города.
                    Продемонстрировано отсутствие стабилизации осадок зданий на протяжении 100 лет, т.е. понятие
                    «конечная осадка» неприменимо для зданий на слабых грунтах.
                </p>
                <div class="border-line"></div>
                <div class="poll-container">
                    <div class="poll-title">Заголовок опроса</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                        modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <form action="#" class="poll-form">
                        <div class="form-item__radio-container">
                            <div class="form-item__radio">
                                <input type="radio" id="item-1" name="poll">
                                <span class="form-circle"></span>
                            </div>
                            <label for="item-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt</label>
                        </div>
                        <div class="form-item__radio-container">
                            <div class="form-item__radio">
                                <input type="radio" id="item-2" name="poll">
                                <span class="form-circle"></span>
                            </div>
                            <label for="item-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt</label>
                        </div>
                        <div class="form-item__radio-container">
                            <div class="form-item__radio">
                                <input type="radio" id="item-3" name="poll">
                                <span class="form-circle"></span>
                            </div>
                            <label for="item-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt</label>
                        </div>
                        <div class="form-item__radio-container">
                            <div class="form-item__radio">
                                <input type="radio" id="item-4" name="poll">
                                <span class="form-circle"></span>
                            </div>
                            <label for="item-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-blue w-auto" value="ОТправить">
                        </div>
                    </form>
                </div>
                <div class="border-line"></div>
                <p>
                    Выявлено существенное расхождение (более чем вдвое) результатов натурных измерений и расчетов, что
                    свидетельствует о необходимости корректировки нормативных методов. Результаты длительных наблюдений
                    являются базисом для построения более достоверных методов расчета осадок зданий и сооружений на
                    слабых глинистых грунтах.
                </p>
                <div class="border-line"></div>
                <div class="quote">
                    <div class="h2">
                        Цитата Автора
                    </div>
                    <p>
                        Определена доля осадок, происходящих в процессе строительства. Выполнено сравнение реальных осадок
                        зданий, построенных в Санкт-Петербурге, и рассчитанных с применением нормативных методов.
                    </p>
                </div>
                <div class="border-line"></div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-1.jpg')"></a>
            <div class="title">
                <div class="h1">
                    Коментарии
                </div>
            </div>
            <div class="container_bg text-center">
                <p>
                    Чтобы оставлять комментарии вам необходимо <a href="#" class="link-black">войти</a> под своим
                    аккаунтом. Если вы еще <br> не
                    зарегистрированы, то можете пройти <a href="#" class="link-black">регистрацию</a>, которая займет
                    всего пару минут.
                </p>
            </div>
            <div class="container_bg mt-2r">
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="comment-container comment-item comment-answer">
                    <div class="comment-pic">
                        <img src="images/comment.jpg" alt="">
                    </div>
                    <div class="comment-content">
                        <div class="comment-top">
                            <div class="comment-name">Федор Мармеладов</div>
                            <div class="comment-like">
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                                <div class="comment-number">0</div>
                                <a href="#" class="comment-cursor">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in</p>
                        <div class="comment-bottom">
                            <div class="comment-time">15:13</div>
                            <div class="comment-data">18.09.2018</div>
                            <a href="#" class="comment-answer__event">Ответить</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-blue">
                        показать еще
                    </div>
                </div>
            </div>
            <div class="title">
                <div class="h1">
                    Актуальное
                </div>
            </div>
            @@include('../layout/technical_solutions.html')
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')