<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    правила для авторов
                </h1>
            </div>
            <div class="container_bg">
                <div class="border-items">
                    <a href="#">Новые правила для авторов</a>
                    <a href="#">Рекомендации по написанию аннотаций</a>
                    <a href="#">Образец оформления статьи</a>
                    <a href="#">Образец оформления списка литературы</a>
                    <a href="#">Образец оформления сносок</a>
                </div>
                <br>
                <p>
                    ПОЛОЖЕНИЕ <br>
                    О порядке рецензирования статей, поступающих для публикации в журналах «Инженерные изыскания»,
                    «Инженерная геология», «ГеоРиск», «Геотехника»
                    <br><br>
                    Рецензирование <br>
                    Рецензирование рукописей статей, поступающих в ООО «Геомаркетинг», организуется сотрудниками
                    редакции. <br>
                    Рецензентами являются члены научно-редакционных советов журналов, выпускаемых ООО «Геомаркетинг»,
                    ученые ведущих российских научно-исследовательских институтов, вузов, специализированных
                    организаций, являющиеся кандидатами или докторами наук и имеющие публикации по тематике
                    рецензируемой статьи. <br>
                    Соавтор работы не может являться ее рецензентом. <br>
                    Рецензии хранятся в ООО «Геомаркетинг» в течение 5 лет. <br>
                    Редакция издания направляет авторам копии рецензий или мотивированный отказ в публикации. <br>
                    Редакция издания направляет копии рецензий в Министерство образования и науки Российской Федерации в
                    случае соответствующего запроса. <br>
                    При возникновении замечаний к статье хотя бы у одного из рецензентов статья передается на доработку
                    автору. После устранения замечаний и повторной положительной рецензии статья может быть
                    отредактирована и опубликована. <br>
                    Содержание рецензии <br>
                    1. В рецензии приводится анализ текста статьи, прилагаемых иллюстративных материалов,
                    библиографического списка. В случае возникновения замечаний даются обоснованные рекомендации для
                    автора по устранению недостатков. Особое внимание должно уделяться:
                    <br><br>
                    1.1. общему анализу научного уровня, терминологии, актуальности темы, научной новизне статьи;
                    <br><br>
                    1.2. научности изложения, соответствию использованных автором методов, методик, рекомендаций и
                    результатов исследования современным достижениям науки и практики;
                    <br><br>
                    1.3. оценке объема статьи в целом и отдельных ее элементов (текста, таблиц, иллюстраций и др.);
                    <br><br>
                    1.4. месту рецензируемой статьи среди других работ на аналогичную тему, опубликованных ранее;
                    <br><br>
                    1.5. допущенным автором неточностям и ошибкам.
                    <br><br>
                    2. В рецензии даются объективные и принципиальные рекомендации автору и редакции, направленные на
                    повышение научного и методического уровня рукописи.
                    <br><br>
                    3. В заключительной части рецензии приводится обоснованный вывод о целесообразности публикации
                    статьи в одном из журналов — «Инженерные изыскания», «Инженерная геология», «ГеоРиск» или
                    «Геотехника».
                </p>
                <br>
                <div class="border-items">
                    <div class="contact-line">
                        <div class="contact-line__name">Адрес редакции:</div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">Адрес:</div>
                        <div class="contact-line__value">
                            Москва, Электрозаводская улица, д. 60. (м. Преображенская площадь)
                        </div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">
                            Бухгалтерия:
                        </div>
                        <div class="contact-line__value">
                            <a href="tel:84952106306">
                                8 (495) 210-63-06
                            </a>
                        </div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">Редакция:</div>
                        <div class="contact-line__value">
                            <a href="tel:84952106390">
                                8 (495) 210-63-90
                            </a> ,
                            <a href="tel:84952108992">
                                8 (495) 210-89-92
                            </a>
                        </div>
                    </div>
                    <div class="contact-line">
                        <div class="contact-line__name">E-mail:</div>
                        <div class="contact-line__value">
                            <a href="mailto:info@geomark.ru">
                                info@geomark.ru
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-1.jpg')"></a>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')