<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Поиск
                </h1>
            </div>
            <div class="container_bg">
                <form action="#" class="search">
                    <div class="search-top">
                        <div class="search-top__input">
                            <input type="text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="search-top__submit">
                            <input type="submit">
                        </div>
                    </div>
                    <div class="search-bottom">
                        <div class="search-bottom_left">
                            Дата:
                            <input type="text" class="input-date" placeholder="От">
                            <input type="text" class="input-date" placeholder="До">
                        </div>
                        <div class="search-bottom_right">
                            <div class="search-bottom__item">
                                Раздел:
                                <select>
                                    <option value="Везде">Везде</option>
                                    <option value="Везде">Только тут</option>
                                    <option value="Везде">Только там</option>
                                </select>
                            </div>
                            <div class="search-bottom__item">
                                Искать:
                                <select>
                                    <option value="Везде">Везде</option>
                                    <option value="Везде">Только тут</option>
                                    <option value="Везде">Только там</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container_bg mt-2r">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-6.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                в Севастополе</h3>
                            <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                пришли к выводу, что результаты инженерных ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-7.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                            <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                требованиям технических регламентов и иным ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/news-8.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Строительство метро в воронеже может начаться в течение трех лет</h3>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет,
                                сообщил в пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые
                                — три ближайшие года в этом вопросе, и мы начали предпроектную ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-end">
                        <a href="#" class="btn btn-blue">
                            Все новости
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" class="banner-container mt-2r" style="background-image: url('images/banner-2.jpg')"></a>
            <div class="container_bg mt-2r">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-6.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                в Севастополе</h3>
                            <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                пришли к выводу, что результаты инженерных ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-7.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                            <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                требованиям технических регламентов и иным ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/news-8.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Строительство метро в воронеже может начаться в течение трех лет</h3>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет,
                                сообщил в пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые
                                — три ближайшие года в этом вопросе, и мы начали предпроектную ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-end">
                        <a href="#" class="btn btn-blue">
                            Все новости
                        </a>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link active" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a></li>
                </ul>
            </nav>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')