<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Подписка
                </h1>
            </div>
            <div class="container_bg">
                <p>
                    В настоящее время в редакции журналов «Инженерные изыскания», «Инженерная геология», «Геотехника»,
                    «Геориск» ведется подписная кампания на 2018 год. Журналы, выпускаемые с 2007 года, зарекомендовали
                    себя как профессиональные научно-практические издания, оперативно освещающие последние тенденции в
                    области инженерных изысканий для строительства. На этой дискуссионной площадке, которую выбрали для
                    себя многие ведущие специалисты отрасли, обсуждаются проблемы государственной политики в области
                    инженерных изысканий, саморегулирования, технического регулирования и нормирования. В аналитических
                    и технических статьях освещаются развитие рынка инженерных изысканий в России и в странах СНГ,
                    последние технологические разработки в области инженерной геологии, геодезии, геофизики,
                    гидрометеорологии и экологии.
                    <br><br>
                    Большое внимание в каждом журнале уделяется проблемам инженерных изысканий и проектирования на
                    территориях со сложными инженерно-геологическими условиями, таких как Западная и Восточная Сибирь,
                    Камчатка, Сахалин.
                    <br><br>
                    Журналы включены в перечень ВАК – Всероссийский перечень ведущих рецензируемых изданий, что
                    гарантирует высокое качество материалов, их актуальность, научную новизну и практическую важность
                    для специалистов всех уровней.
                    <br><br>
                    Подписка может быть оформлена на основании направленной в редакцию заявки, содержащей реквизиты
                    предприятия, контакты, количество заказываемых комплектов журналов; через Агентство «Роспечать», ГК
                    «Урал-Пресс», ООО «Информнаука», ООО «Агенство «Книга-Сервис».
                    <br><br>
                </p>
                <p class="fw-700">
                    Стоимость годовой подписки на журналы:
                </p>
                <br>
                <p>
                    «Инженерные изыскания» (6 номеров) – 4 140 рублей <br>
                    «Инженерная геология» (4 номера) – 2 600 рублей <br>
                    «Геориск» (4 номера) – 2 600 рублей <br>
                    «Геотехника» (4 номера) – 2 600 рублей <br>
                    Стоимость полного комплекта составляет 11 940 рублей <br>
                    Доставка по почте включена в стоимость.
                </p>
                <br>
                <p class="fw-700">
                    Стоимость годовой подписки на электронную версию журнала:
                </p>
                <br>
                <p>
                    «Инженерные изыскания» (6 номеров) – 3 530 рублей <br>
                    «Инженерная геология» (4 номеров) – 1 990 рублей <br>
                    «Геориск» (4 номера) – 1 990 рублей <br>
                    «Геотехника» (4 номеров) – 1 990 рублей <br>
                    Стоимость полного комплекта составляет 9 500 рублей <br>
                    В стоимость электронной подписки включен доступ ко всем номерам каждого журнала за все годы их
                    выпуска. <br>
                    После оплаты счета Издательство направляет Подписчику Логин и пароль по указанному при регистрации
                    электронному адресу и предоставляются на срок подписки.
                    <br><br>
                    При условии подписки на несколько комплектов (например, для головной организации и дочерних
                    компаний/филиалов), по желанию подписчика процедура регистрации распространяется как единожды на
                    головную организацию с выделением определенного числа паролей для дочерних компаний/филиалов.
                </p>
                <br>
                <p class="fw-700">
                    Оформить подписку Вы можете любым удобным для Вас способом:
                </p>
                <div class="list">
                    <p>	По телефону в Москве +7(495)210-89-92 или +7(495)210-63-90 с 9 до 18 часов</p>
                    <p>Отправив заявку в свободной форме на электронную почту: pr@geomark.ru</p>
                </div>
                <p>
                    Отдел подписки и распространения – Якимчик Ольга Леонидовна
                </p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="#" class="btn btn-bg_blue">Оформить подписку</a>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
            <div class="container_bg mt-2r">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-6.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                в Севастополе</h3>
                            <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                пришли к выводу, что результаты инженерных ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="images/news-7.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                            <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                требованиям технических регламентов и иным ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/news-8.jpg" alt="">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3>Строительство метро в воронеже может начаться в течение трех лет</h3>
                            <p>Строительство легкого метро в Воронеже может начаться в течение ближайших трех лет,
                                сообщил в пятницу журналистам губернатор региона Александр Гусев. «Я думаю, что ключевые
                                — три ближайшие года в этом вопросе, и мы начали предпроектную ...</p>
                        </div>
                        <div class="tags-items">
                            <a href="#" class="tags-item">Кузбасс</a>
                            <a href="#" class="tags-item">каменный уголь</a>
                            <a href="#" class="tags-item">разрез «Тагарышский»</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-end">
                        <a href="#" class="btn btn-blue">
                            Все новости
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')