<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Ваш профиль
                </h1>
            </div>
            <div class="container_bg container_bg-none-p mb-5">
                <div class="category-container">
                    <div class="arm-mobile">
                        <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                    </div>
                    <ul class="nav nav-tabs profile" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">Мои
                                материалы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2" >Мои
                                покупки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3">Мои комментарии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-4">Ответные комментарии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-5">Уведомления</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-6">Настройки</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content year-container" id="myTabContent">
                    <div class="tab-pane fade show active" id="category-1">
                        <div class="news-favorites__items">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-6.jpg" alt="">
                                    </a>
                                    <div class="news-favorites">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка
                                                трассы «Таврида»
                                                в Севастополе</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Красноярского филиала
                                            Главгосэкспертизы России
                                            пришли к выводу, что результаты инженерных ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-6.jpg" alt="">
                                    </a>
                                    <div class="news-favorites">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка
                                                трассы «Таврида»
                                                в Севастополе</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Красноярского филиала
                                            Главгосэкспертизы России
                                            пришли к выводу, что результаты инженерных ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-6.jpg" alt="">
                                    </a>
                                    <div class="news-favorites">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка
                                                трассы «Таврида»
                                                в Севастополе</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Красноярского филиала
                                            Главгосэкспертизы России
                                            пришли к выводу, что результаты инженерных ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-6.jpg" alt="">
                                    </a>
                                    <div class="news-favorites">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка
                                                трассы «Таврида»
                                                в Севастополе</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Красноярского филиала
                                            Главгосэкспертизы России
                                            пришли к выводу, что результаты инженерных ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title title-tab">
                            <h1>
                                Ваш профиль
                            </h1>
                        </div>
                        <div class="news-favorites__add mt-2r">
                            <div class="news-favorites__add-title">
                                Попробуй добавитье в закладки понравившуюся новость или статью
                            </div>
                            <a href="#" class="btn btn-bg_blue">Добавить</a>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="category-2">
                        <div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row align-items-start">
                            <div class="h2">ИНЖЕНЕРНЫЕ ИЗЫСКАНИЯ</div>
                            <div class="text-uppercase mt-3 mt-md-0">Подписка оформлена</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">

                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row align-items-start">
                            <div class="h2">ИНЖЕНЕРНАЯ ГЕОЛОГИЯ</div>
                            <a href="#" class="btn btn-bg_blue mt-3 mt-md-0 pt-1 pb-1">ОФОРМИТЬ ПОДПИСКУ ЗА 2 600
                                руб</a>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">

                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row align-items-start">
                            <div class="h2">ГЕОТЕХНИКА</div>
                            <a href="#" class="btn btn-bg_blue mt-3 mt-md-0 pt-1 pb-1">ОФОРМИТЬ ПОДПИСКУ ЗА 2 600
                                руб</a>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">
                                    <img src="images/magazine-22.jpg" alt="">
                                    <a href="#" class="buy-number">
                                    <span class="buy-number__content">
                                         Купить номер <br> за 550 руб
                                    </span>
                                    </a>
                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>

                            </div>
                            <div class="col-md-2 col-sm-3 col-4 mb-4">
                                <div class="subscription-pic">

                                </div>
                                <div class="fs-18 mt-2 text-center">1-2/2018</div>
                            </div>
                        </div>
                        <div class="subscription-title mt-3">
                            Подписка
                        </div>
                        <div class="border-line"></div>
                        <div class="subscription-issue">
                            <span>
                                Оформите электронную подписку на журнал и получите <br>доступ ко всем номерам за все годы их выпуска
                            </span>
                            <div class="btn-container mt-4 d-flex flex-column flex-md-row justify-content-center">
                                <a href="#" class="btn btn-bg_blue mr-0 mb-3 mr-md-3 mb-md-0">Архив журналов</a>
                                <a href="#" class="btn btn-bg_blue">Оформить подписку</a>
                            </div>
                        </div>
                        <div class="banner-tab">
                            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
                        </div>
                        <div class="container_bg container_bg-tab">
                            <div class="title-24 mb-0">
                                Мои статьи
                            </div>
                            <div class="border-line pt-3"></div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray"></div>
                        <div class="container_bg container_bg-tab">
                            <div class="title-24 mb-0">
                                Мои статьи
                            </div>
                            <div class="border-line pt-3"></div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <a href="#">
                                        <img src="images/news-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <a href="#" class="black-link">
                                            <h3>Главгосэкспертиза рассмотрела проект этапа обустройства берегового месторождения</h3>
                                        </a>
                                        <p>Изучив представленные материалы, эксперты Омского филиала Главгосэкспертизы России пришли
                                            к выводу, что результаты инженерных изысканий и проектная документация соответствуют
                                            требованиям технических регламентов и иным ...</p>
                                    </div>
                                    <div class="tags-items">
                                        <a href="#" class="tags-item">Кузбасс</a>
                                        <a href="#" class="tags-item">каменный уголь</a>
                                        <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-3">
                        <div class="comment-container comment-item">
                            <div class="comment-pic">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <div class="comment-name">Федор Мармеладов</div>
                                </div>
                                <div class="comment-info">
                                    Комментарий к статье осадки зданий на слабых глинистых грунтах
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit
                                    in</p>
                                <div class="comment-bottom">
                                    <div class="comment-time">15:13</div>
                                    <div class="comment-data">18.09.2018</div>
                                    <a href="#" class="comment-answer__event">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-container comment-item">
                            <div class="comment-pic">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <div class="comment-name">Федор Мармеладов</div>
                                </div>
                                <div class="comment-info">
                                    Комментарий к статье осадки зданий на слабых глинистых грунтах
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit
                                    in</p>
                                <div class="comment-bottom">
                                    <div class="comment-time">15:13</div>
                                    <div class="comment-data">18.09.2018</div>
                                    <a href="#" class="comment-answer__event">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-4">
                        <div class="comment-container comment-item">
                            <div class="comment-pic">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <div class="comment-name">Федор Мармеладов</div>
                                </div>
                                <div class="comment-info">
                                    Комментарий к статье осадки зданий на слабых глинистых грунтах
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit
                                    in</p>
                                <div class="comment-bottom">
                                    <div class="comment-time">15:13</div>
                                    <div class="comment-data">18.09.2018</div>
                                    <a href="#" class="comment-answer__event mr-2">Ответить</a>
                                    <a href="#" class="comment-answer__event">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-container comment-item">
                            <div class="comment-pic">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <div class="comment-name">Федор Мармеладов</div>
                                </div>
                                <div class="comment-info">
                                    Комментарий к статье осадки зданий на слабых глинистых грунтах
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit
                                    in</p>
                                <div class="comment-bottom">
                                    <div class="comment-time">15:13</div>
                                    <div class="comment-data">18.09.2018</div>
                                    <a href="#" class="comment-answer__event mr-2">Ответить</a>
                                    <a href="#" class="comment-answer__event">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-container comment-item">
                            <div class="comment-pic">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <div class="comment-name">Федор Мармеладов</div>
                                </div>
                                <div class="comment-info">
                                    Комментарий к статье осадки зданий на слабых глинистых грунтах
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit
                                    in</p>
                                <div class="comment-bottom">
                                    <div class="comment-time">15:13</div>
                                    <div class="comment-data">18.09.2018</div>
                                    <a href="#" class="comment-answer__event mr-2">Ответить</a>
                                    <a href="#" class="comment-answer__event">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-5">
                        <div class="h2">
                            Уведомления
                        </div>
                        <div class="notifications-checked__item">
                            <div class="notifications-checked__container">
                                <input type="checkbox" id="check-1">
                                <div class="notifications-checked__containers">
                                    <div class="notifications-checked__yes">
                                        Да
                                    </div>
                                    <div class="notifications-checked__no">
                                        Нет
                                    </div>
                                </div>
                            </div>
                            <label for="check-1">
                                Хотите получать “Актуальные материалы портала Геомаркетинг
                            </label>
                        </div>
                        <div class="fs-16 mt-5">
                            Хотите получать уведомления об обновлении в разделах:
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-2">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-2">
                                        Новости
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-3">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-3">
                                        Аналитика
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-4">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-4">
                                        Технические решения
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-5">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-5">
                                        Мнения
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-6">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-6">
                                        Статьи
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-7">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-7">
                                        Полевые истории
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-8">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-8">
                                        Мероприятия
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-9">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-9">
                                        Журналы
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-10">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-10">
                                        Нормативные документы
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="notifications-checked__item">
                                    <div class="notifications-checked__container">
                                        <input type="checkbox" id="check-11">
                                        <div class="notifications-checked__containers">
                                            <div class="notifications-checked__yes">
                                                Да
                                            </div>
                                            <div class="notifications-checked__no">
                                                Нет
                                            </div>
                                        </div>
                                    </div>
                                    <label for="check-10">
                                        Ответы на коментарии
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="fs-16 mt-4">
                            Хотите получать уведомления по тегам
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4 col-sm-6">
                                <select>
                                    <option value="2">Интервью</option>
                                    <option value="3">Геофизика</option>
                                    <option value="4">Экология</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-4 mt-3 mt-sm-0">
                                <a href="#" class="btn btn-blue">Удалить</a>
                            </div>
                        </div>
                        <div class="tags-items__profile">
                            <a href="#" class="tags-item__profile">
                                Интервью
                            </a>
                            <a href="#" class="tags-item__profile">
                                Геофизика
                            </a>
                            <a href="#" class="tags-item__profile">
                                Экология
                            </a>
                            <a href="#" class="tags-item__profile">
                                Изыскания
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-6">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6 pr-md-5">
                                    <div class="form-item form-item__error">
                                        <label for="family">Фамилия</label>
                                        <input type="text" id="family">
                                    </div>
                                    <div class="form-item">
                                        <label for="name">Имя</label>
                                        <input type="text" id="name">
                                    </div>
                                    <div class="form-item">
                                        <label for="patronymic">Отчество</label>
                                        <input type="text" id="patronymic">
                                    </div>
                                    <div class="form-item">
                                        <div class="title-24 mt-4">
                                            Аватар
                                        </div>
                                        <div class="avatar-container">
                                            <input type="file">
                                            <div class="avatar-pic">
                                            </div>
                                            <div class="btn btn-bg_blue">
                                                Выбрать изображение
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="title-24 mt-4">
                                            Управление учетной записью
                                        </div>
                                        <div class="new-pass__container">
                                            <span>
                                                Изменить пароль
                                            </span>
                                            <div class="btn btn-bg_blue">
                                                Создать пароль
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-md-5 mt-4 mt-md-0">
                                    <div class="form-item">
                                        <label for="date">Дата рождения</label>
                                        <input type="text" id="date" class="max-w-160">
                                    </div>
                                    <div class="form-item">
                                        <label>Пол</label>
                                        <div class="gander-container">
                                            <div class="form-item__radio">
                                                <input type="radio" id="item-1111" name="gander">
                                                <span class="form-gander">M</span>
                                            </div>
                                            <div class="form-item__radio">
                                                <input type="radio" id="item-1222" name="gander">
                                                <span class="form-gander">Ж</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item form-item__none">

                                    </div>
                                    <div class="form-item">
                                        <div class="title-24 mt-4">
                                            Контакты
                                        </div>
                                        <label for="email">Email (обязательно)</label>
                                        <input type="text" id="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-bg_blue border-0" value="Сохранить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')