<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href="#" class="banner-container" style="background-image: url('images/banner-1.jpg')"></a>
            @@include('../layout/bread.html')
            <div class="title">
                <h1>
                    Видио
                </h1>
            </div>
            <div class="container_bg  container_bg-none-p video">
                <div class="category-container tab-content__links">
                    <div class="category-blue">
                        Категории
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#category-1">Интервью</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-2"> Изыскания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-3">Геофизика</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-4">Геотектоника</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-5">Экология</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#category-6">Нормативы</a>
                        </li>
                        <li>
                            <div>
                                <div class="add-category btn btn-blue" data-toggle="collapse" data-target="#collapseExample">Больше категорий</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav nav-tabs" id="myTab-2" role="tablist">
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-7" class="tags-item__profile">
                                Интервью
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-8" class="tags-item__profile">
                                Геофизика
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-9" class="tags-item__profile">
                                Экология
                            </a>
                        </li>
                        <li class="nav-link">
                            <a data-toggle="tab" href="#category-10" class="tags-item__profile">
                                Изыскания
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-2r" id="category-1">
                    <div class="container_bg">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="banner-container mt-2r mb-2r"
                       style="background-image: url('images/banner-2.jpg')"></a>
                    <div class="container_bg">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <a class="video-relative" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/plauer.png" alt="" class="video-absolute">
                                    <img src="images/news-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div>
                                    <a href="#" class="black-link">
                                        <h3>Правительство РФ выделило более 11 млрд рублей на строительство участка трассы «Таврида»
                                            в Севастополе</h3>
                                    </a>
                                    <p>Изучив представленные материалы, эксперты Красноярского филиала Главгосэкспертизы России
                                        пришли к выводу, что результаты инженерных ...</p>
                                </div>
                                <div class="tags-items">
                                    <a href="#" class="tags-item">Кузбасс</a>
                                    <a href="#" class="tags-item">каменный уголь</a>
                                    <a href="#" class="tags-item">разрез «Тагарышский»</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link active" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a></li>
                        </ul>
                    </nav>
                    <div class="title">
                        <h1>
                            Актуальное
                        </h1>
                    </div>
                    @@include('../layout/technical_solutions.html')
                </div>
                <div class="tab-pane fade mt-2r" id="category-2">
                    <div class="container_bg">
                        2
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-3">
                    <div class="container_bg">
                        3
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-4">
                    <div class="container_bg">
                        4
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-5">
                    <div class="container_bg">
                        5
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-6">
                    <div class="container_bg">
                        6
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-7">
                    <div class="container_bg">
                        7
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-8">
                    <div class="container_bg">
                        8
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-9">
                    <div class="container_bg">
                        9
                    </div>
                </div>
                <div class="tab-pane fade mt-2r" id="category-10">
                    <div class="container_bg">
                        10
                    </div>
                </div>
            </div>
            <div class="partner-mobile">
                <div class="h1">
                    Наши партрены
                </div>
                @@include('../layout/partner.html')
            </div>
        </div>
        <div class="col-lg-3">
            @@include('../layout/sidebar.html')
        </div>
    </div>
</div>
@@include('../layout/magazines.html')