.btn{
  cursor: pointer;
  transition: .25s;
  padding: .5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  border-radius: 0;
}

.btn-blue{
  color: $blue;
  border: 1px solid rgba(41, 91, 160, .5);
  &:hover{
    color: white;
    background-color: #295ba0;
    border: 1px solid #295ba0;
  }
}

.btn-bg_blue{
  background-color: #295ba0;
  color: white;
  border: 1px solid #295ba0;
  padding: .5rem 2rem;
  &:hover{
    background-color: transparent;
    color: #295ba0;
  }
}

.btn-container{
  line-height: 2.3rem;
  .btn{
    margin-right: 1rem;
    &:last-child{
      margin-right: 0;
    }
  }
}

.date{
  font-size: 1.125rem;
  margin: 1rem 0;
}