
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:     14px !default;
$font-size-root-sm:  14px !default;
$font-size-root-md:  14px !default;
$font-size-root-lg:  14px !default;
$font-size-root-xl:  14px !default;
$font-size-rem-size: $font-size-root-xl !default;




