// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

.modal .modal-dialog{
  max-height: 100%;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow-y: auto;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the modal, animate it to slide down
  .modal-dialog {
    transition: all .3s ease-out 0s;
    transform: translate(0, -25%);
  }
  &.show .modal-dialog {
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
}

// Actual modal
.modal-content {
  color: #545454;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($border-radius-lg);
  @include box-shadow($modal-content-xs-box-shadow);
  // Remove focus outline from opened modal
  outline: 0;
  padding: 50px;
  input[type="text"] {
    height: 56px;
    margin-top: 1.5rem;
  }
  a {
    color: #545454;
    text-decoration: underline;
  }
  .form-item {
    margin-bottom: 0;
  }
}

.subscription-modal {
  font-size: 16px;
  .modal-dialog {
    max-width: 1039px;
  }
  .modal-content {
    padding: 20px;
  }
  .modal-title {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
  input {
    margin-top: 0 !important;
    height: 36px !important;
  }
  .consent-text {
    font-size: 16px;
    flex-basis: calc(100% - 20px);
  }
  .form-item__radio-container{
    margin-top: 10px;
  }
  .form-item__radio{
    border: 2px solid #ddd;
  }
  .form-circle{
    background-color: #ddd;
  }
  a.btn-bg_blue{
    color: white;
    text-decoration: none;
    i{
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    &:hover{
      color: #295ba0;
    }
  }
  .consent-checked{
    flex-basis: 15px;
  }
  .nazad-container{
    background-color: rgba(41, 91, 160, 0.1);
    border: 1px solid rgba(41, 91, 160, 0.1);
    width: 69px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #295ba0;
    margin-right: 5px;
    text-decoration: none;
  }
}

.checked-flex {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  .consent {
    flex-basis: 25%;
    font-size: 16px;
    margin-top: 1.5rem;
  }
}

.modal-body__soc {
  display: flex;
  margin-top: 10px;
}

.modal-body__soc-item {
  margin-right: 10px;
}

.modal-header .close {
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  background-color: white !important;
  color: black;
  top: -9px;
  right: -9px;
  opacity: 1;
  padding: 0;
  &:hover {
    opacity: 1 !important;
  }
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: .7 !important;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 0;
  border-bottom: none;
}

// Title text within header
.modal-title {
  color: #545454;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 1rem;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: 0;
}

// Footer (for actions)
.modal-footer {
  display: flex;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  // Easily place margin between footer elements
  > :not(:first-child) {
    margin-left: .25rem;
  }
  > :not(:last-child) {
    margin-right: .25rem;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-sm-up-margin-y auto;
  }

  .modal-content {
    @include box-shadow($modal-content-sm-up-box-shadow);
  }

  .modal-sm {
    max-width: $modal-sm;
  }
}

@include media-breakpoint-up(lg) {
  .modal-lg {
    max-width: $modal-lg;
  }
}
