.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-tabs {
  border-bottom: 3px solid #295ba0;
  .nav-item{
    margin-bottom: 0;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    padding: .3rem 1.459rem .5rem;
    border: none;
    font-size: 1.125rem;
    border-radius: 0;
    transition: .2s;
    &.active {
      background-color: #295ba0;
      color: white;
      &:hover{
        color: white;
      }
    }
    &:hover{
      color: #295ba0;
    }
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}