.mt-2r {
  margin-top: 2rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  &:after {
    margin-left: .5rem;
    content: '';
    position: absolute;
    background: url("../images/h1.png") repeat;
    width: 100%;
    height: 19px;
  }
}

h1, .h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.286rem;
  align-items: center;
  margin: 2rem 0 1.5rem;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  background-color: $body-bg;
  z-index: 1;
  padding: 3px 10px 2px 0;
}

h2, .h2, .title-gost {
  font-size: 1.286rem;
  font-weight: 700;
  margin: 0;
}

h3, .h3 {
  font-size: 1.143rem;
  font-weight: 700;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  margin: 0;
  border: 0;
}

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

.list-unstyled {
  @include list-unstyled;
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.content {
  p {
    margin-bottom: 1rem;
  }
  ol, ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

input {
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 36px;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

textarea {
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  height: 100%;
  resize: none;
  padding: 10px;
}

.consent-checked {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #ddd;
  input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    &:checked {
      & + span {
        &:before {
          height: 8px;
          animation: dothatopcheck .4s ease 0s forwards;
        }
        &:after {
          height: 10px;
          animation: dothabottomcheck .2s ease 0s forwards;
        }
      }
    }
  }
  span {
    border-radius: 3px;
    &:before {
      content: '';
      top: 11px;
      left: 7px;
      transform: rotate(-135deg);
      position: absolute;
      width: 1px;
      background-color: $blue;
      transform-origin: left top;
    }
    &:after {
      transform-origin: left top;
      content: '';
      top: 6px;
      position: absolute;
      width: 1px;
      background-color: $blue;
      left: 2px;
      transform: rotate(-45deg);
    }
  }
}

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 6px;
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}

.border-0 {
  border-radius: 0;
}

.link-black {
  color: $black;
}

*::placeholder {
  opacity: 0.3;
  color: #545454 !important;
}

.text-blue {
  color: $blue;
}

.pagination {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  flex-flow: row wrap;
}

.page-link {
  display: flex;
  margin: 0 2px;
  align-items: center;
  justify-content: center;
  color: $black;
  background-color: transparent;
  padding: 0 5px;
  font-size: 1.286rem;
  text-decoration: none;
  min-width: 29px;
  min-height: 31px;
  border: none;

  &.active {
    background-color: white;
    &:hover {
      color: $black;
    }
  }
  &:hover {
    color: $blue;
  }
}

.page-item{
  &:first-child, &:last-child{
    .page-link{
      background-color: white;
    }
  }
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[type="radio"]:checked + .form-circle {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
}

.form-item__radio {
  width: 17px;
  height: 17px;
  border: 2px solid #295ba0;
  position: relative;
  border-radius: 50%;
  flex-basis: 17px;
}

.form-circle {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #295ba0;
}

.form-item__radio-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: .7rem;
  label {
    flex-basis: 97%;
    padding-left: 2%;
    text-align: left;
    margin-top: -3px;
    cursor: pointer;
  }
}

label{
  margin-bottom: 0;
}

.black-link {
  text-decoration: none;
  color: $black;
}

.poll-form {
  width: 80%;
  margin: 2rem auto 0;
}

.w-auto {
  width: auto;
}

.card-header {
  .btn {
    background-color: transparent;
    color: $blue;
    font-size: 1rem;
    border: 1px solid $blue;
    padding: 10px;
    text-align: left;
    display: flex;
    line-height: 1.5rem;
    text-transform: none;
    width: 100%;
    justify-content: space-between;
    &:after {
      content: "\f107";
      font-family: 'FontAwesome';
      margin-left: 15px;
      transform: rotate(180deg);
      transition: .2s;
    }
    &[aria-expanded="false"] {
      &:after{
        transform: rotate(0deg);
      }
    }
  }
}

.card-body {
  margin-top: 1.2rem;
}

.tab-content__links{
  .add-category{
    padding: .3rem .5rem;
    border: 2px solid #e5f1f7;
    color: rgba(1, 119, 178, 0.54);
    font-size: 12px;
    font-style: italic;
    margin: 6px 0 -3px;
    position: relative;
    &:hover{
      border: 2px solid #295ba0;
    }
    &:before{
      content: '';
      width: 112%;
      height: 3px;
      background-color: white;
      bottom: -9px;
      left: -10px;
      display: block;
      position: absolute;
    }
  }
  .nav-link{
    padding: .6rem 1.38rem .6rem !important;
    font-size: 1rem !important;
  }
}

.hidden-block{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;
  transition: .25s;
}

.hidden-block__container{
  padding: 29px;
  width: 943.5px;
}

.video{
  .nav-link{
    padding: .6rem 1.47rem .6rem !important;
  }
}

.video-relative{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-absolute{
  position: absolute;
}