.download{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $blue;
  font-size: 1.143rem;
  img{
    margin-right: 1rem;
  }
}

.modal .modal-dialog{
  max-height: 100%;
}

.border-line{
  position: relative;
  padding: 1.5rem 0;
  display: block;
  &:before{
    content: '';
    width: 100%;
    height: 4px;
    background: url("../images/border-line.jpg");
    position: absolute;
    left: 0;
  }
}

.director-name{
  display: flex;
  justify-content: flex-end;
  opacity: .5;
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

.about{
  .contact-line{
    line-height: 1rem;
    font-size: 0.8171rem;
    margin-bottom: .8rem;
  }
  .contact-line__name{
    white-space: nowrap;
  }
}