.title-flex__start{
  display: flex;
  align-items: center;
}

.archive-items{
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  &:last-child{
    margin-bottom: 0;
  }
}

.archive-item{
  flex-basis: 20%;
  margin-right: 6.6%;
  margin-bottom: 3%;
  &:nth-child(4n){
    margin-right: 0;
  }
}