.author{
  font-size: 0.8571rem;
  font-style: italic;
}

.soc-items{
  display: flex;
  margin: .5rem 0;
  align-items: center;
}
.articles{
  .nav-link{
    padding: .6rem 1.47rem .6rem !important;
  }
}

.soc-item{
  font-size: 1.3rem;
  width: 42px;
  height: 42px;
  background-color: #ecf5f9;
  border: 3px solid white;
  color: rgba(41, 91, 160, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: .5rem;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    color: $blue;
  }
}

.news-still__titles{
  font-size: 1.143rem;
  font-style: italic;
}

.news-still__item{
  text-decoration: none;
  color: $black;
  display: flex;
  margin-top: 8px;
}

.news-still{
  float: left;
  border: 1px solid #bfddec;
  padding: 8px 16px 8px 29px;
  border-left: none;
  margin: 0 10px 0px -29px;
  font-size: 0.9rem;
  line-height: 1.25em;
  width: 419px;
}

.news-still__pic{
  flex-basis: 40%;
}

.news-still__title{
  flex-basis: 60%;
  padding-left: 3%;
}