.breadcrumb{
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  margin-top: 2rem;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb-item{
  display: flex;
   a{
     display: flex;
     color: #295ba0;
     text-decoration: none;
     &:hover{
       color: black;
     }
   }
  span{
    color: #878889;
  }
}

.breadcrumb-item+.breadcrumb-item::before{
  color: #295ba0;
}