.contact-line{
  display: flex;
  margin-bottom: .3rem;
  a{
    color: $black;
    text-decoration: none;
    &:hover{
      color: $blue;
    }
  }
}

.contact-line__name{
  font-weight: 700;
  margin-right: .3rem;
}

#map{
  width: 100%;
  height: 330px;
  margin: 1rem 0;
}

.form-item{
  margin-bottom: .6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  &:last-child{
    margin-bottom: 0;
  }
  label{
    margin-bottom: .2rem;
  }
  &.form-item__error{
    input{
      box-shadow: 0 0 7px rgba(255, 0, 0, 0.67);
    }
    label{
      color: red;
    }
  }
}

.form-item__textarea{
  height: 100%;
}

.consent{
  display: flex;
  align-items: center;
}

.consent-text{
  font-size: 0.8571rem;
  margin-left: .4rem;
  line-height: 1rem;
}