.title-flex{
  display: flex;
  justify-content: space-between;
}

.title-icon{
  margin-left: 2rem;
  &:before{
    content: url("../images/pdf-file.png");
  }
}

.content-date{
  opacity: .5;
  font-size: 0.8571rem;
}

.documents{
  .nav-link{
    text-transform: uppercase;
    padding: .6rem 2.31rem .6rem !important;
  }
}

.document-item{
  margin-bottom: 2rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.document-item__date{
  font-size: 1.143rem;
}

.document-item__gost{
  font-size: 1.143rem;
  font-weight: 700;
}

.document-item__m{
  margin: .5rem 0;
}