.slider-items{
  margin: 2rem 0;
  .slick-list{
    margin: 0 20px;
  }
  .slick-arrow{
    color: $blue;
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
  .fancy-gallery{
    padding: 0 10px;
  }
}

.comment-container{
  display: flex;
  line-height: 1rem;
  align-items: flex-start;
}

.comment-content{
  padding-left: 1rem;
  width: 95%;
  p{
    line-height: 1.6rem;
    margin: .3rem 0;
  }
}

.comment-input{
  margin-top: 8px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 0;
  border-radius: 0;
  line-height: 1rem;
}

.comment-top{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.comment-like{
  display: flex;
  align-items: center;
}

.comment-number{
  margin: 0 8px;
}

.comment-cursor{
  color: $black;
  &:hover{
    color: $blue;
  }
}

.comment-bottom{
  display: flex;
  align-items: center;
  color: $black;
  opacity: .6;
  & div{
    margin-right: .4rem;
    opacity: .6;
  }
}

.comment-pic{
  border-radius: 50%;
  overflow: hidden;
}

.comment-info{
  display: flex;
  align-items: center;
  color: $black;
  opacity: .6;
  font-style: italic;
  margin-top: 4px;
}

.comment-answer__event{
  color: $black;
  opacity: .6;
  text-decoration: none;
  &:hover{
    color: $blue;
    opacity: 1;
  }
}

.comment-item{
  margin-bottom: 3rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.comment-answer{
  padding-left: 2rem;
}

.border-items{
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  &:before{
    content: '';
    background: url("../images/border-left.jpg") repeat-y;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
}