@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot");
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2") format("woff2"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot");
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff2") format("woff2"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot");
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2") format("woff2"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot");
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff2") format("woff2"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot");
	src: url("../fonts/Helvetica/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.woff2") format("woff2"),
	url("../fonts/Helvetica/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icomoon/icomoon.woff") format("woff"),
  url("../fonts/icomoon/icomoon.svg") format("svg"),
  url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
