footer{
  background-color: black;
  padding: 2rem 0;
}

.footer-menu__link{
  color: white;
  opacity: .2;
  margin-bottom: .5rem;
  display: block;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.hr-bottom{
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255, .2);
  margin: 1rem 0;
}

.footer-soc{
  margin-left: 1rem;
  font-size: 1.5rem;
  &:hover{
    color: white;
    opacity: .5;
  }
}

.copy{
  opacity: .2;
  color: white;
}