header {
  z-index: 2;
  background-color: white;
}

.header-top {
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.15);
  padding: 4px 0;
}

.header-soc__items {
  display: flex;
  align-items: center;
}

.entry-delimiter {
  margin: 0 2px;
}

.header-center {
  padding: 23px 0;
}

.header-soc__link {
  margin-right: 22px;
  opacity: 0.5;
  font-size: 1.5rem;
  &:hover {
    opacity: 1;
    color: $blue;
  }
}

.entry-link {
  font-size: .8571rem;
  &:hover {
    color: $blue;
  }
}

.header-partner {
  margin-top: -6px;
}

.header-partner__title {
  font-style: italic;
  margin-bottom: 10px;
}

.header-partner__items {
  display: flex;
  align-items: center;
}

.header-partner__item {
  position: relative;
  display: flex;
  align-items: center;
  &:after {
    width: 2px;
    height: 30px;
    content: '';
    margin: 0 15px;
    background-color: #e8e8e8;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}

.hamburger .line {
  width: 25px;
  height: 2px;
  display: block;
  background-color: $black;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.header-menu__items {
  display: flex;
  align-items: center;
}

.header-menu__link {
  font-size: 1.143rem;
  display: block;
  margin: 0 26px;
  &:hover {
    color: $blue;
  }
}

.header-bottom {
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
  .col-24 {
    position: relative;
  }
}

.search-icon {
  font-size: 1.5rem;
  position: relative;
  .fa-times {
    position: absolute;
    left: 0;
    top: 2px;
    transition: .25s;
    opacity: 0;
  }
}

.search-form {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: .25s;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 5px 0.1px rgba(0, 0, 0, 0.15);
  border-top: 1px solid #d9d9d9;
}

.search-icon {
  .fa-search {
    transition: .25s;
  }
}

.search-container {
  &.active {
    .search-form {
      top: 171%;
      z-index: 2;
      opacity: 1;
    }
    .fa-times {
      opacity: 1;
    }
    .search-icon {
      .fa-search {
        opacity: 0;
      }
    }
  }
}

.search-form__input {
  outline: none;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  width: 98%;
}

.search-icon {
  &:hover {
    i {
      color: $blue;
      cursor: pointer;
    }
  }
}

.search-form__submit {
  position: relative;
  padding-left: 2%;
  i {
    font-size: 1.5rem;
  }
}

.search-form__submit-input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  &:hover {
    & + i {
      color: $blue;
    }
  }
}

.menu-left__container {
  position: fixed;
  left: -300px;
  bottom: 0;
  background-color: white;
  overflow: auto;
  height: calc(100% - 200px);
  width: 300px;
  z-index: 2;
  transition: .25s;
  &.active {
    left: 0;
  }
}

.menu-left__link {
  font-size: 1.143rem;
  display: block;
  padding: 6px 20px;
  &:hover {
    color: white;
    background-color: #b7b7b7;
  }
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
  opacity: 0;
  transition: .25s;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}