main{
  margin-top: 2rem;
}

.container_bg{
  padding: 22px 29px;
  background-color: white;
}

.tags-items{
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
}

.tags-item{
  text-decoration: none;
  color: $blue;
  border: 1px solid rgba(1, 119, 178, .5);
  font-size: .6rem;
  margin-right: .4rem;
  padding: .1rem .3rem;
  text-transform: uppercase;
  line-height: 1rem;
  font-style: italic;
  margin-bottom: .3rem;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
  }
}

.news-item__pic{
  display: block;
  margin-bottom: 1.5rem;
}

.news-item__content {
  margin-top: .5rem;
}

.news-item{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0, .1);
}

.opinion-pic{
  border-radius: 50%;
  filter: grayscale(100%);
}

.history-item__pic{
  display: flex;
  justify-content: center;
}

.news-item__title{
  color: $link-color;
  text-decoration: none;
}

.history-item{
  background-color: white;
  padding: 20px 29px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partner-mobile{
  display: none;
}

.font-italic{
  font-style: italic;
}

.banner-container{
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.magazine-container{
  margin-top: 2rem;
  background: white;
  padding: 2rem 0;
  p{
    opacity: .5;
  }
}

.subscribe{
  font-size: 1.143rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $link-color;
}