.magazine-item__link{
  color: $black;
  font-size: 1.286rem;
}

.magazine-item__price{
  font-size: 2.571rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.magazine-item__bottom{
  line-height: 2.3rem;
  span{
    margin: 0 10px;
  }
}

.magazine-content__title{
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.143rem;
}

.magazine-content__flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1.143rem;
  position: relative;
  align-items: flex-end;
  &:before{
    content: '';
    background: url("../images/border.png") repeat-x;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 6px;
  }
  span{
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: 5px;
  }
  .magazine-page{
    position: relative;
    background-color: white;
    z-index: 1;
    padding-left: 5px;
  }
}

.magazine-content{
  flex-basis: 70%;
}

.magazine-item__btn{
  display: flex;
}

.magazine{
  .nav-link{
    padding: .6rem 3.72rem .6rem !important;
  }
}

.magazine-year__container{

  overflow: auto;
}

.magazine-year__container-scroll{
  width: 943px;
  padding: 10px 29px;
  span{
    font-size: 18px;
  }
  a{
    text-decoration: none;
    font-size: 18px;
    color: $black;
    padding-left: 6px;
    &.active{
      color: #295ba0;
    }
  }
}