@media(max-width: 1290px)  {
  .container{
    width: 100%;
    padding: 0 12px;
  }
  .search-bottom{
    flex-direction: column;
  }
  .search-bottom_right{
    margin-top: 10px;
    justify-content: flex-start;
  }
}

@media(max-width: 1024px)  {
  .tab-content__links .add-category:before{
    bottom: -8px;
  }
  .magazine-item__btn{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    div{
      margin-top: .5rem;
    }
    span{
      margin: 0 17px;
    }
  }
  .header-logo{
    width: 50%;
    display: flex;
    align-items: center;
  }
  .sidebar-banner, .sidebar-magazine, .sidebar-documentation, .sidebar-security, .partner{
    padding: 1rem;
  }
  .sidebar-magazine__link{
    margin: 2px;
  }
  .sidebar{
    h1, .h1{
      white-space: normal;
    }
  }
}

@media(max-width: 1000px)  {
  .checked-flex .consent{
    flex-basis: 33%;
  }
  .consent-none{
    display: none;
  }
  .partner-mobile{
    display: block;
  }
  .header-menu{
    display: none;
  }
  .sidebar{
    display: none;
  }
}

@media(max-width: 800px)  {
  .poll-container{
    padding: 0;
  }
  .poll-form{
    width: 100%;
  }
  .header-logo{
    width: 40%;
  }
  .header-partner{
    width: 50%;
  }
  .header-partner__items{
    justify-content: space-between;
  }
  .header-partner__item{
    flex-basis: 30%;
    position: relative;
    &:after{
      position: absolute;
      right: -5px;
      margin: 0;
    }
  }
}

@media(max-width: 767px)  {
  .checked-flex .consent{
    flex-basis: 50%;
  }
  .arm-mobile{
    animation: arm-mobile 2s ease-in;
    position: absolute;
    right: 0;
    top: 0%;
    display: block;
    z-index: 2;
    color: $blue;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes arm-mobile {
    to {
      opacity: 0;
      right: 30%;
      transition: .25s;
    }
    from {
      right: 0;
      opacity: 1;
      transition: .25s;
      z-index: -1;
    }
  }
  .paid-content__flex{
    flex-direction: column;
    align-items: flex-start;
  }
  .paid-content__price{
    margin: 0 0 10px;
  }
  .news-still{
    display: none;
  }
  .news-item__pic{
    display: flex;
    justify-content: center;
  }
  .news-item__flex{
    margin-top: 1rem;
  }
  .magazine-container{
    padding: 2rem 10px .5rem;
  }
  .form-item__none{
    display: none;
  }
}

@media(max-width: 575px)  {
  .checked-flex .consent{
    flex-basis: 100%;
  }
  .modal-header .close{
    top: 0;
    right: 0;
  }
  .modal-content{
    padding: 20px;
  }
  .hidden-block__container{
    padding: 10px;
  }
  .tags-item__profile{
    font-size: .8rem;
    padding: .3rem .6rem;
  }
  .category-container__profile{
    margin-bottom: 30px;
  }
  .advertising-price{
    font-size: 1rem;
  }
  .download{
    font-size: 1rem;
  }
  .search-bottom_right{
    flex-direction: column;
  }
  .search-bottom__item{
    &:first-child{
      margin: 0 0 10px;
    }
  }
  .search-bottom_right .select2 {
    width: 212px !important;
  }
  .search-top{
    flex-direction: column;
  }
  .search-top__input{
    width: 100%;
    input{
      border-radius: 0;
    }
  }
  .search-top__submit{
    width: 100%;
    input{
      border-radius: 0;
    }
  }
  .col-md-8{
    h3{
      margin: 10px 0;
    }
  }
  .year-container{
    padding: 10px 0;
  }
  #map{
    height: 200px;
  }
  .contact-line{
    flex-direction: column;
    margin-bottom: .5rem;
  }
  .fancy-gallery{
    flex-basis: 49%;
    &:nth-child(3n){
      margin-right: 2%;
    }
    &:nth-child(2n){
      margin-right: 0;
    }
  }
  .magazine-item__price{
    font-size: 1.5rem;
  }
  .magazine-item__btn{
    div{
      width: 100%;
    }
    .btn{
      width: 100%;
    }
  }
  .magazine-item__pic{
    display: flex;
    justify-content: center;
    margin-bottom: .6rem;
  }
  .magazine-content{
    flex-basis: 85%;
  }
  .archive-item{
    flex-basis: 48%;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
  }
  .archive-items{
    justify-content: space-between;
  }
  .menu-left__container{
    height: calc(100% - 250px);
  }
  .breadcrumb{
    padding: 0 10px;
  }
  .footer-soc{
    margin-left: 0;
    margin-right: 1rem;
  }
 main{
   overflow-x: hidden;
   .container{
     width: auto;
     padding: 0;
   }
 }
  .history-item{
    padding: 10px;
  }
  h1, .h1{
    padding-left: 10px;
  }
  .container_bg{
    padding: 10px;
  }
  .header-soc__link{
    font-size: 1rem;
    margin-right: 1rem;
  }
  .header-logo{
    width: 100%;
  }
  .header-partner{
    margin-top: 12px;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .header-partner__item{
    flex-basis: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
      content: none;
    }
  }
}