.paid-content__price{
  font-size: 2.957rem;
  line-height: 2rem;
  margin-right: 1rem;
  span{
    font-size: 1.571rem;
  }
}

.paid-content__flex{
  display: flex;
  margin-top: 2rem;
  align-items: flex-end;
}