.partner-info{
  font-size: 1.143rem;
  margin-bottom: .3rem;
  a{
    color: $black;
    text-decoration: none;
    &:hover{
      color: $blue;
    }
  }
}

.fancy-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  &:nth-child(3n){
    margin-right: 0;
  }
}

.partner-item{
  background-color: white;
  padding: 2rem 1.5rem;
  flex-direction: column;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: $black;
}

.partner-item__pic{
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-item__main{
  outline: 8px solid #cce4f0;
  outline-offset: -8px;
  &:hover{
    outline: 8px solid #cce4f0;
    outline-offset: -8px;
  }
}

.list{
  display: flex;
  flex-direction: column-reverse;
  margin: .8rem 0;
  p{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    &:before{
      content: '';
      width: 14px;
      height: 4px;
      background-color: #295ba0;
      margin-right: .5rem;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
}