.bookmark{
  display: flex;
  align-items: center;
  color: $black;
  opacity: .5;
  font-size: 0.8571rem;
  text-decoration: none;
  &:hover{
    color: $blue;
    opacity: 1;
  }
  i{
    margin-right: 4px;
  }
}

.poll-container{
  text-align: center;
  padding: 0 5%;
  p{
    text-align: justify;
  }
}

.poll-title{
  font-weight: 700;
  font-size: 1.143rem;
  margin-bottom: 1rem;
}

.quote{
  position: relative;
  background-color: #fafafa;
  margin: -1.3rem 0 -1.5rem;
  padding: 1.3rem 0 1.3rem 4rem;
  &:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 5px;
    background: url("../images/quote.png");
    background-size: contain;
    width: 44px;
    height: 34px;
  }
}