.category-container{
  position: relative;
  width: 100%;
  overflow-x: auto;
  .nav{
    width: 943.5px;
    .nav-link{
      white-space: nowrap;
    }
  }
}

.arm-mobile{
  display: none;
}

.news-favorites{
  position: absolute;
  right: 12px;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff331;
  font-size: 1.5rem;
}

.year-container{
  .page-link{
    background-color: $blue;
    color: white;
    &.active{
      color: black;
      background-color: transparent;
    }
  }
}

.news-favorites__items{
  margin-bottom: 2rem;
}

.news-favorites__add{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.news-favorites__add-title{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.subscription-pic{
  background-color: #f1f1f1;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buy-number{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  text-decoration: none;
  color: white;
  text-align: center;
  opacity: 0;
  transition: .25s;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.buy-number__content{
  width: 100%;
  border: 2px solid white;
  padding: 3px;
  margin: 3%;
}

.subscription-title{
  font-size: 1.714rem;
}

.subscription-issue{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  span{
    font-size: 1.5rem;
  }
}

.title-24{
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: .5rem;
}

.avatar-pic{
  width: 106px;
  height: 124px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.avatar-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.new-pass__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span{
    font-size: 1.143rem;
    margin-bottom: .2rem;
  }
}

.max-w-160{
  max-width: 160px;
}

.gander-container{
  display: flex;
  .form-item__radio{
    width: 48px;
    margin-right: .5rem;
    flex-basis: 48px;
    border: none;
    height: 36px;
    input:checked + .form-gander{
      color: $blue;
      border: 1px solid $blue;
    }
  }
}

.form-gander{
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: rgba(84, 84, 84, .3);
}

.form-item__none{
 height: 61.8px;
}

.notifications-checked__item{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  label{
    font-size: 1.143rem;
    margin-left: 1rem;
    line-height: 1.4rem;
  }
}

.notifications-checked__container{
  width: 77px;
  height: 38px;
  position: relative;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    margin: 0;
    &:checked{
      & + .notifications-checked__containers{
        background-color: $blue;
        &:before{
          left: 41px;
        }
      }
    }
  }
}

.notifications-checked__containers{
  width: 77px;
  padding: 0 10px;
  height: 38px;
  background-color: #b2b2b2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: .25s;
  color: white;
  font-size: 0.8571rem;
  position: relative;
  justify-content: space-between;
  &:before{
    content: '';
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    left: 9px;
    transition: .25s;
  }
}

.tab-pane{
  .select2-container{
    width: 100% !important;
  }
  .col-sm-6{
    & + .col-sm-4{
      .btn{
        height: 36px;
        padding: 0.65rem 2rem;
        width: 100%;
      }
    }
  }
}

.tags-items__profile{
  margin: 2rem -.2rem 0;
  display: flex;
  flex-flow: row wrap;
}

.tags-item__profile{
  margin: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #0177b2;
  border: 1px solid rgba(1, 119, 178, .5);
  font-weight: 300;
  font-style: italic;
  padding: .5rem 1rem;
  &:hover{
    color: white;
    border: 1px solid #0177b2;
    background-color: #0177b2;
  }
}

.banner-tab{
  margin: 29px -29px 0px;
  padding: 29px 0;
  background-color: #f1f1f1;
}

.bg-gray{
  height: 2rem;
  background-color: #f1f1f1;
  margin: 0 -29px;
}

.container_bg-tab{
  margin: 0 -29px;
}

.title-tab{
  margin: 0 -29px;
  background-color: #f1f1f1;
}