.search-top {
  display: flex;
  width: 100%;
}

.search-top__input {
  position: relative;
  display: flex;
  align-items: center;
  width: 85%;
  i {
    position: absolute;
    right: 10px;
    color: #ddd;
  }
  input {
    padding: 0 30px 0 10px;
    border-radius: 5px 0px 0px 5px;
  }
}

.search-top__submit {
  width: 15%;
  input {
    background-color: #295ba0;
    border-radius: 0px 5px 5px 0px;
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
  }
}

.search-bottom{
  color: #545454;
  display: flex;
  margin-top: 1rem;
}

.search-bottom_left{
  display: flex;
  align-items: center;
}

.input-date{
  width: 104px;
  margin: 0 10px;
}

.search-bottom__item{
  margin-right: 2rem;
  display: flex;
  align-items: center;
  &:last-child{
    margin-right: 0;
  }
}

.search-bottom_right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .select2{
    margin-left: 10px;
    width: 200px !important;
  }
}