.container_bg-none-p{
  padding: 0;
  transition: .25s;
}

.category-blue{
  font-size: 1.143rem;
  color: white;
  background-color: #295ba0;
  padding: .6rem 1.4rem;

}

.category-container{
  display: flex;
  position: relative;
  .nav{
    z-index: 1;
  }
}

#myTab-2{
  padding: 29px;
}

main{
  #collapseExample{
    overflow: auto;
    .nav-tabs{
      border: none !important;
      width: 943px;
    }
    .nav-link{
      padding: 0 !important;
      font-size: 12px;
    }
    .tags-item__profile{
      margin: 0 .2rem 1rem;
      padding: .2rem .5rem;
      display: block;
    }
  }
}
