.sidebar-banner{
  padding: 2.05rem 2.429rem;
  background-color: white;
  margin-bottom: 2.8rem;
}

.sidebar-magazine{
  padding: 1.25rem 2.429rem;
  background-color: white;
}

.sidebar-magazine__title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.sidebar-magazine__items{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url("../images/magazine-bg.png");
  width: 100%;
  height: 100%;
  padding: 5px 0;
}

.calendar-container{
  margin-bottom: 2.8rem;
}

.sidebar-magazine__link{
  margin: 5px;
}

.sidebar-documentation{
  padding: 2.05rem 2rem;
  background-color: white;
  margin-bottom: 2.8rem;
  border: 2px solid #cce4f0;
  position: relative;
  &:before{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 40px;
    height: 42px;
    content: '';
    background: url(../images/corner.png) left bottom;
    z-index: 11;
  }
}

.sidebar-title{
  text-transform: uppercase;
  color: $blue;
  font-weight: 500;
}

.sidebar-documentation__item{
  margin-top: 1rem;
  display: flex;
}

.sidebar-documentation__pic{
  width: 26px;
}

.sidebar-documentation-content{
  padding-left: 1rem;
  line-height: 20px;
  width: 90%;
}
.sidebar-documentation__date{
  opacity: 0.5;
  font-style: italic;
}

.sidebar-poll{
  margin-bottom: 2.8rem;
}

.sidebar-security__item{
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #555;
  height: 100%;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    background: url("../images/play.png") no-repeat center;
    width: 34px;
    height: 41px;
  }
}

.partner{
  padding: 2.05rem;
  background-color: white;
}

.partner-item{
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.sidebar-security{
  padding: 2.05rem;
  background-color: white;
}

#wp-calendar{
  width: 100%;
  display: flex;
  flex-direction: column;
  caption{
    height: 58px;
    background-color: #3160a8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
  }
  thead{
    tr{
      background-color: #1a4f9d;
      height: 26px;
      display: flex;
      align-items: center;
      padding: 0 29px;
      color: white;
      text-transform: uppercase;
      th{
        width: 32px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
      }
    }
  }
  tbody{
    padding: 10px 29px;
    td{
      width: 32px;
      height: 27px;
      text-align: center;
      background-color: #f5f5f5;
      color: #adb8c1;
      margin: 1px;
      border: 2px solid white;
      a{
        color: #adb8c1;
        text-decoration: none;
      }
      &.pad{
        background-color: transparent;
        border: 1px solid transparent;
      }
      &#today{
        background-color: #3160a8;
        color: white;
      }
    }
  }
  tfoot{
    display: none;
  }
}

.calendar-container{
  background-color: white;
}

.super-search{
  color: #545454;
  text-decoration: underline;
}

.calendar-container__p{
  padding: 0 29px 29px;
  color: #545454;
}

.calendar-flex__day{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.calendar-flex__day-element{
  flex-basis: 48%;
  display: flex;
  align-items: center;
  .select2-container{
    width: 100% !important;
    margin-left: 5px;
  }
}